{
 "cells": [
  {
   "cell_type": "code",
   "id": "initial_id",
   "metadata": {
    "collapsed": true,
    "ExecuteTime": {
     "end_time": "2025-08-06T19:28:09.356443Z",
     "start_time": "2025-08-06T19:28:09.347781Z"
    }
   },
   "source": [
    "import pandas as pd\n",
    "import numpy as np\n",
    "from sqlalchemy import create_engine\n",
    "from sqlalchemy.sql.sqltypes import NULLTYPE"
   ],
   "outputs": [],
   "execution_count": 27
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T19:25:30.427190Z",
     "start_time": "2025-08-06T19:25:26.941038Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Connect into the database\n",
    "engine = create_engine('sqlite:///online_retail_II.db')\n",
    "\n",
    "# Load the first 5 rows from the database\n",
    "table_name = 'online_retail_II'\n",
    "query = f'SELECT * FROM {table_name};'\n",
    "train_df = pd.read_sql(query, engine)\n",
    "train_df"
   ],
   "id": "53701fdf0bbe791b",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "        Invoice StockCode                          Description  Quantity  \\\n",
       "0        489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12   \n",
       "1        489434    79323P                   PINK CHERRY LIGHTS        12   \n",
       "2        489434    79323W                  WHITE CHERRY LIGHTS        12   \n",
       "3        489434     22041         RECORD FRAME 7\" SINGLE SIZE         48   \n",
       "4        489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24   \n",
       "...         ...       ...                                  ...       ...   \n",
       "1067366  581587     22899         CHILDREN'S APRON DOLLY GIRL          6   \n",
       "1067367  581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4   \n",
       "1067368  581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4   \n",
       "1067369  581587     22138        BAKING SET 9 PIECE RETROSPOT          3   \n",
       "1067370  581587      POST                              POSTAGE         1   \n",
       "\n",
       "                 InvoiceDate  Price  Customer ID         Country  \n",
       "0        2009-12-01 07:45:00   6.95      13085.0  United Kingdom  \n",
       "1        2009-12-01 07:45:00   6.75      13085.0  United Kingdom  \n",
       "2        2009-12-01 07:45:00   6.75      13085.0  United Kingdom  \n",
       "3        2009-12-01 07:45:00   2.10      13085.0  United Kingdom  \n",
       "4        2009-12-01 07:45:00   1.25      13085.0  United Kingdom  \n",
       "...                      ...    ...          ...             ...  \n",
       "1067366  2011-12-09 12:50:00   2.10      12680.0          France  \n",
       "1067367  2011-12-09 12:50:00   4.15      12680.0          France  \n",
       "1067368  2011-12-09 12:50:00   4.15      12680.0          France  \n",
       "1067369  2011-12-09 12:50:00   4.95      12680.0          France  \n",
       "1067370  2011-12-09 12:50:00  18.00      12680.0          France  \n",
       "\n",
       "[1067371 rows x 8 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Invoice</th>\n",
       "      <th>StockCode</th>\n",
       "      <th>Description</th>\n",
       "      <th>Quantity</th>\n",
       "      <th>InvoiceDate</th>\n",
       "      <th>Price</th>\n",
       "      <th>Customer ID</th>\n",
       "      <th>Country</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>489434</td>\n",
       "      <td>85048</td>\n",
       "      <td>15CM CHRISTMAS GLASS BALL 20 LIGHTS</td>\n",
       "      <td>12</td>\n",
       "      <td>2009-12-01 07:45:00</td>\n",
       "      <td>6.95</td>\n",
       "      <td>13085.0</td>\n",
       "      <td>United Kingdom</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>489434</td>\n",
       "      <td>79323P</td>\n",
       "      <td>PINK CHERRY LIGHTS</td>\n",
       "      <td>12</td>\n",
       "      <td>2009-12-01 07:45:00</td>\n",
       "      <td>6.75</td>\n",
       "      <td>13085.0</td>\n",
       "      <td>United Kingdom</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>489434</td>\n",
       "      <td>79323W</td>\n",
       "      <td>WHITE CHERRY LIGHTS</td>\n",
       "      <td>12</td>\n",
       "      <td>2009-12-01 07:45:00</td>\n",
       "      <td>6.75</td>\n",
       "      <td>13085.0</td>\n",
       "      <td>United Kingdom</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>489434</td>\n",
       "      <td>22041</td>\n",
       "      <td>RECORD FRAME 7\" SINGLE SIZE</td>\n",
       "      <td>48</td>\n",
       "      <td>2009-12-01 07:45:00</td>\n",
       "      <td>2.10</td>\n",
       "      <td>13085.0</td>\n",
       "      <td>United Kingdom</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>489434</td>\n",
       "      <td>21232</td>\n",
       "      <td>STRAWBERRY CERAMIC TRINKET BOX</td>\n",
       "      <td>24</td>\n",
       "      <td>2009-12-01 07:45:00</td>\n",
       "      <td>1.25</td>\n",
       "      <td>13085.0</td>\n",
       "      <td>United Kingdom</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1067366</th>\n",
       "      <td>581587</td>\n",
       "      <td>22899</td>\n",
       "      <td>CHILDREN'S APRON DOLLY GIRL</td>\n",
       "      <td>6</td>\n",
       "      <td>2011-12-09 12:50:00</td>\n",
       "      <td>2.10</td>\n",
       "      <td>12680.0</td>\n",
       "      <td>France</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1067367</th>\n",
       "      <td>581587</td>\n",
       "      <td>23254</td>\n",
       "      <td>CHILDRENS CUTLERY DOLLY GIRL</td>\n",
       "      <td>4</td>\n",
       "      <td>2011-12-09 12:50:00</td>\n",
       "      <td>4.15</td>\n",
       "      <td>12680.0</td>\n",
       "      <td>France</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1067368</th>\n",
       "      <td>581587</td>\n",
       "      <td>23255</td>\n",
       "      <td>CHILDRENS CUTLERY CIRCUS PARADE</td>\n",
       "      <td>4</td>\n",
       "      <td>2011-12-09 12:50:00</td>\n",
       "      <td>4.15</td>\n",
       "      <td>12680.0</td>\n",
       "      <td>France</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1067369</th>\n",
       "      <td>581587</td>\n",
       "      <td>22138</td>\n",
       "      <td>BAKING SET 9 PIECE RETROSPOT</td>\n",
       "      <td>3</td>\n",
       "      <td>2011-12-09 12:50:00</td>\n",
       "      <td>4.95</td>\n",
       "      <td>12680.0</td>\n",
       "      <td>France</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1067370</th>\n",
       "      <td>581587</td>\n",
       "      <td>POST</td>\n",
       "      <td>POSTAGE</td>\n",
       "      <td>1</td>\n",
       "      <td>2011-12-09 12:50:00</td>\n",
       "      <td>18.00</td>\n",
       "      <td>12680.0</td>\n",
       "      <td>France</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1067371 rows × 8 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 21,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 21
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### Preprocessing",
   "id": "74459342a19d6713"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T19:21:39.369489Z",
     "start_time": "2025-08-06T19:21:39.149551Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# See the missing values\n",
    "train_df.isnull().sum()"
   ],
   "id": "b8c3db73fbb4603f",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Invoice             0\n",
       "StockCode           0\n",
       "Description      4382\n",
       "Quantity            0\n",
       "InvoiceDate         0\n",
       "Price               0\n",
       "Customer ID    243007\n",
       "Country             0\n",
       "dtype: int64"
      ]
     },
     "execution_count": 18,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 18
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T19:31:30.133105Z",
     "start_time": "2025-08-06T19:31:29.865396Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Remove the rows where customer id is missing\n",
    "train_df = train_df.dropna(subset=['Customer ID'])\n",
    "train_df.isnull().sum()"
   ],
   "id": "9d811b4c0f53913d",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Invoice        0\n",
       "StockCode      0\n",
       "Description    0\n",
       "Quantity       0\n",
       "InvoiceDate    0\n",
       "Price          0\n",
       "Customer ID    0\n",
       "Country        0\n",
       "dtype: int64"
      ]
     },
     "execution_count": 34,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 34
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T19:45:06.502825Z",
     "start_time": "2025-08-06T19:45:06.497895Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Verify the data types\n",
    "train_df.dtypes"
   ],
   "id": "fcf6a0d8fbe3b87a",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Invoice                object\n",
       "StockCode              object\n",
       "Description            object\n",
       "Quantity                int64\n",
       "InvoiceDate    datetime64[ns]\n",
       "Price                 float64\n",
       "Customer ID           float64\n",
       "Country                object\n",
       "dtype: object"
      ]
     },
     "execution_count": 56,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 56
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T19:44:43.454287Z",
     "start_time": "2025-08-06T19:44:43.310219Z"
    }
   },
   "cell_type": "code",
   "outputs": [],
   "execution_count": 53,
   "source": [
    "# Convert InvoiceDate to date value format\n",
    "train_df['InvoiceDate'] = pd.to_datetime(train_df['InvoiceDate'])"
   ],
   "id": "a272a7ba49b77244"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T20:01:52.723409Z",
     "start_time": "2025-08-06T20:01:52.498232Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Remove the invoices starting with the letter 'C', because it indicates a cancellation\n",
    "train_df = train_df[train_df['Invoice'].str.startswith('C') == False]"
   ],
   "id": "b237182c95d6a012",
   "outputs": [],
   "execution_count": 84
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T20:10:54.190011Z",
     "start_time": "2025-08-06T20:10:54.159765Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Create TotalPrice column\n",
    "train_df['TotalPrice'] = train_df['Quantity'] * train_df['Price']\n",
    "train_df.head()"
   ],
   "id": "4e2cf7b7d406bb72",
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/tmp/ipykernel_7785/1394883487.py:2: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  train_df['TotalPrice'] = train_df['Quantity'] * train_df['Price']\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "  Invoice StockCode                          Description  Quantity  \\\n",
       "0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12   \n",
       "1  489434    79323P                   PINK CHERRY LIGHTS        12   \n",
       "2  489434    79323W                  WHITE CHERRY LIGHTS        12   \n",
       "3  489434     22041         RECORD FRAME 7\" SINGLE SIZE         48   \n",
       "4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24   \n",
       "\n",
       "          InvoiceDate  Price  Customer ID         Country  TotalPrice  \n",
       "0 2009-12-01 07:45:00   6.95      13085.0  United Kingdom        83.4  \n",
       "1 2009-12-01 07:45:00   6.75      13085.0  United Kingdom        81.0  \n",
       "2 2009-12-01 07:45:00   6.75      13085.0  United Kingdom        81.0  \n",
       "3 2009-12-01 07:45:00   2.10      13085.0  United Kingdom       100.8  \n",
       "4 2009-12-01 07:45:00   1.25      13085.0  United Kingdom        30.0  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Invoice</th>\n",
       "      <th>StockCode</th>\n",
       "      <th>Description</th>\n",
       "      <th>Quantity</th>\n",
       "      <th>InvoiceDate</th>\n",
       "      <th>Price</th>\n",
       "      <th>Customer ID</th>\n",
       "      <th>Country</th>\n",
       "      <th>TotalPrice</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>489434</td>\n",
       "      <td>85048</td>\n",
       "      <td>15CM CHRISTMAS GLASS BALL 20 LIGHTS</td>\n",
       "      <td>12</td>\n",
       "      <td>2009-12-01 07:45:00</td>\n",
       "      <td>6.95</td>\n",
       "      <td>13085.0</td>\n",
       "      <td>United Kingdom</td>\n",
       "      <td>83.4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>489434</td>\n",
       "      <td>79323P</td>\n",
       "      <td>PINK CHERRY LIGHTS</td>\n",
       "      <td>12</td>\n",
       "      <td>2009-12-01 07:45:00</td>\n",
       "      <td>6.75</td>\n",
       "      <td>13085.0</td>\n",
       "      <td>United Kingdom</td>\n",
       "      <td>81.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>489434</td>\n",
       "      <td>79323W</td>\n",
       "      <td>WHITE CHERRY LIGHTS</td>\n",
       "      <td>12</td>\n",
       "      <td>2009-12-01 07:45:00</td>\n",
       "      <td>6.75</td>\n",
       "      <td>13085.0</td>\n",
       "      <td>United Kingdom</td>\n",
       "      <td>81.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>489434</td>\n",
       "      <td>22041</td>\n",
       "      <td>RECORD FRAME 7\" SINGLE SIZE</td>\n",
       "      <td>48</td>\n",
       "      <td>2009-12-01 07:45:00</td>\n",
       "      <td>2.10</td>\n",
       "      <td>13085.0</td>\n",
       "      <td>United Kingdom</td>\n",
       "      <td>100.8</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>489434</td>\n",
       "      <td>21232</td>\n",
       "      <td>STRAWBERRY CERAMIC TRINKET BOX</td>\n",
       "      <td>24</td>\n",
       "      <td>2009-12-01 07:45:00</td>\n",
       "      <td>1.25</td>\n",
       "      <td>13085.0</td>\n",
       "      <td>United Kingdom</td>\n",
       "      <td>30.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 91,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 91
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "",
   "id": "15589942715ec4e6"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### RFM Calc",
   "id": "7589562ef61482e6"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Recency - R",
   "id": "211ffe9d8dd16ff9"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T20:17:43.153081Z",
     "start_time": "2025-08-06T20:17:43.148248Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Referency date\n",
    "snapshot_date = train_df['InvoiceDate'].max() + pd.Timedelta(days=1)\n",
    "print(snapshot_date)"
   ],
   "id": "5ece5ccaac1982d0",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "2011-12-10 12:50:00\n"
     ]
    }
   ],
   "execution_count": 92
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T20:23:32.424965Z",
     "start_time": "2025-08-06T20:23:32.395189Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Group by clients with the last date\n",
    "recency_df = train_df.groupby('Customer ID')['InvoiceDate'].max().reset_index()\n",
    "recency_df.columns = ['CustomerID', 'LastPurchaseDate']\n",
    "recency_df"
   ],
   "id": "a579c985b8ade671",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "      CustomerID    LastPurchaseDate\n",
       "0        12346.0 2011-01-18 10:01:00\n",
       "1        12347.0 2011-12-07 15:52:00\n",
       "2        12348.0 2011-09-25 13:13:00\n",
       "3        12349.0 2011-11-21 09:51:00\n",
       "4        12350.0 2011-02-02 16:01:00\n",
       "...          ...                 ...\n",
       "5876     18283.0 2011-12-06 12:02:00\n",
       "5877     18284.0 2010-10-04 11:33:00\n",
       "5878     18285.0 2010-02-17 10:24:00\n",
       "5879     18286.0 2010-08-20 11:57:00\n",
       "5880     18287.0 2011-10-28 09:29:00\n",
       "\n",
       "[5881 rows x 2 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>CustomerID</th>\n",
       "      <th>LastPurchaseDate</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>12346.0</td>\n",
       "      <td>2011-01-18 10:01:00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>12347.0</td>\n",
       "      <td>2011-12-07 15:52:00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>12348.0</td>\n",
       "      <td>2011-09-25 13:13:00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>12349.0</td>\n",
       "      <td>2011-11-21 09:51:00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>12350.0</td>\n",
       "      <td>2011-02-02 16:01:00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5876</th>\n",
       "      <td>18283.0</td>\n",
       "      <td>2011-12-06 12:02:00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5877</th>\n",
       "      <td>18284.0</td>\n",
       "      <td>2010-10-04 11:33:00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5878</th>\n",
       "      <td>18285.0</td>\n",
       "      <td>2010-02-17 10:24:00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5879</th>\n",
       "      <td>18286.0</td>\n",
       "      <td>2010-08-20 11:57:00</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5880</th>\n",
       "      <td>18287.0</td>\n",
       "      <td>2011-10-28 09:29:00</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>5881 rows × 2 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 99,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 99
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T20:25:21.594537Z",
     "start_time": "2025-08-06T20:25:21.586114Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Recency in days\n",
    "recency_df['Recency'] = (snapshot_date - recency_df['LastPurchaseDate']).dt.days\n",
    "recency_df"
   ],
   "id": "cf1ffbf2f6616a1f",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "      CustomerID    LastPurchaseDate  Recency\n",
       "0        12346.0 2011-01-18 10:01:00      326\n",
       "1        12347.0 2011-12-07 15:52:00        2\n",
       "2        12348.0 2011-09-25 13:13:00       75\n",
       "3        12349.0 2011-11-21 09:51:00       19\n",
       "4        12350.0 2011-02-02 16:01:00      310\n",
       "...          ...                 ...      ...\n",
       "5876     18283.0 2011-12-06 12:02:00        4\n",
       "5877     18284.0 2010-10-04 11:33:00      432\n",
       "5878     18285.0 2010-02-17 10:24:00      661\n",
       "5879     18286.0 2010-08-20 11:57:00      477\n",
       "5880     18287.0 2011-10-28 09:29:00       43\n",
       "\n",
       "[5881 rows x 3 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>CustomerID</th>\n",
       "      <th>LastPurchaseDate</th>\n",
       "      <th>Recency</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>12346.0</td>\n",
       "      <td>2011-01-18 10:01:00</td>\n",
       "      <td>326</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>12347.0</td>\n",
       "      <td>2011-12-07 15:52:00</td>\n",
       "      <td>2</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>12348.0</td>\n",
       "      <td>2011-09-25 13:13:00</td>\n",
       "      <td>75</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>12349.0</td>\n",
       "      <td>2011-11-21 09:51:00</td>\n",
       "      <td>19</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>12350.0</td>\n",
       "      <td>2011-02-02 16:01:00</td>\n",
       "      <td>310</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5876</th>\n",
       "      <td>18283.0</td>\n",
       "      <td>2011-12-06 12:02:00</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5877</th>\n",
       "      <td>18284.0</td>\n",
       "      <td>2010-10-04 11:33:00</td>\n",
       "      <td>432</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5878</th>\n",
       "      <td>18285.0</td>\n",
       "      <td>2010-02-17 10:24:00</td>\n",
       "      <td>661</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5879</th>\n",
       "      <td>18286.0</td>\n",
       "      <td>2010-08-20 11:57:00</td>\n",
       "      <td>477</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5880</th>\n",
       "      <td>18287.0</td>\n",
       "      <td>2011-10-28 09:29:00</td>\n",
       "      <td>43</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>5881 rows × 3 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 101,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 101
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T20:45:39.884798Z",
     "start_time": "2025-08-06T20:45:39.768296Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Keep the only needed columns\n",
    "recency_df = recency_df.drop('LastPurchaseDate', axis=1)\n",
    "recency_df"
   ],
   "id": "29e9a7edd60b7c08",
   "outputs": [
    {
     "ename": "KeyError",
     "evalue": "\"['LastPurchaseDate'] not found in axis\"",
     "output_type": "error",
     "traceback": [
      "\u001B[31m---------------------------------------------------------------------------\u001B[39m",
      "\u001B[31mKeyError\u001B[39m                                  Traceback (most recent call last)",
      "\u001B[36mCell\u001B[39m\u001B[36m \u001B[39m\u001B[32mIn[112]\u001B[39m\u001B[32m, line 2\u001B[39m\n\u001B[32m      1\u001B[39m \u001B[38;5;66;03m# Keep the only needed columns\u001B[39;00m\n\u001B[32m----> \u001B[39m\u001B[32m2\u001B[39m recency_df = \u001B[43mrecency_df\u001B[49m\u001B[43m.\u001B[49m\u001B[43mdrop\u001B[49m\u001B[43m(\u001B[49m\u001B[33;43m'\u001B[39;49m\u001B[33;43mLastPurchaseDate\u001B[39;49m\u001B[33;43m'\u001B[39;49m\u001B[43m,\u001B[49m\u001B[43m \u001B[49m\u001B[43maxis\u001B[49m\u001B[43m=\u001B[49m\u001B[32;43m1\u001B[39;49m\u001B[43m)\u001B[49m\n\u001B[32m      3\u001B[39m recency_df\n",
      "\u001B[36mFile \u001B[39m\u001B[32m~/PycharmProjects/RFM-Customer-Segmentation/.venv/lib/python3.12/site-packages/pandas/core/frame.py:5588\u001B[39m, in \u001B[36mDataFrame.drop\u001B[39m\u001B[34m(self, labels, axis, index, columns, level, inplace, errors)\u001B[39m\n\u001B[32m   5440\u001B[39m \u001B[38;5;28;01mdef\u001B[39;00m\u001B[38;5;250m \u001B[39m\u001B[34mdrop\u001B[39m(\n\u001B[32m   5441\u001B[39m     \u001B[38;5;28mself\u001B[39m,\n\u001B[32m   5442\u001B[39m     labels: IndexLabel | \u001B[38;5;28;01mNone\u001B[39;00m = \u001B[38;5;28;01mNone\u001B[39;00m,\n\u001B[32m   (...)\u001B[39m\u001B[32m   5449\u001B[39m     errors: IgnoreRaise = \u001B[33m\"\u001B[39m\u001B[33mraise\u001B[39m\u001B[33m\"\u001B[39m,\n\u001B[32m   5450\u001B[39m ) -> DataFrame | \u001B[38;5;28;01mNone\u001B[39;00m:\n\u001B[32m   5451\u001B[39m \u001B[38;5;250m    \u001B[39m\u001B[33;03m\"\"\"\u001B[39;00m\n\u001B[32m   5452\u001B[39m \u001B[33;03m    Drop specified labels from rows or columns.\u001B[39;00m\n\u001B[32m   5453\u001B[39m \n\u001B[32m   (...)\u001B[39m\u001B[32m   5586\u001B[39m \u001B[33;03m            weight  1.0     0.8\u001B[39;00m\n\u001B[32m   5587\u001B[39m \u001B[33;03m    \"\"\"\u001B[39;00m\n\u001B[32m-> \u001B[39m\u001B[32m5588\u001B[39m     \u001B[38;5;28;01mreturn\u001B[39;00m \u001B[38;5;28;43msuper\u001B[39;49m\u001B[43m(\u001B[49m\u001B[43m)\u001B[49m\u001B[43m.\u001B[49m\u001B[43mdrop\u001B[49m\u001B[43m(\u001B[49m\n\u001B[32m   5589\u001B[39m \u001B[43m        \u001B[49m\u001B[43mlabels\u001B[49m\u001B[43m=\u001B[49m\u001B[43mlabels\u001B[49m\u001B[43m,\u001B[49m\n\u001B[32m   5590\u001B[39m \u001B[43m        \u001B[49m\u001B[43maxis\u001B[49m\u001B[43m=\u001B[49m\u001B[43maxis\u001B[49m\u001B[43m,\u001B[49m\n\u001B[32m   5591\u001B[39m \u001B[43m        \u001B[49m\u001B[43mindex\u001B[49m\u001B[43m=\u001B[49m\u001B[43mindex\u001B[49m\u001B[43m,\u001B[49m\n\u001B[32m   5592\u001B[39m \u001B[43m        \u001B[49m\u001B[43mcolumns\u001B[49m\u001B[43m=\u001B[49m\u001B[43mcolumns\u001B[49m\u001B[43m,\u001B[49m\n\u001B[32m   5593\u001B[39m \u001B[43m        \u001B[49m\u001B[43mlevel\u001B[49m\u001B[43m=\u001B[49m\u001B[43mlevel\u001B[49m\u001B[43m,\u001B[49m\n\u001B[32m   5594\u001B[39m \u001B[43m        \u001B[49m\u001B[43minplace\u001B[49m\u001B[43m=\u001B[49m\u001B[43minplace\u001B[49m\u001B[43m,\u001B[49m\n\u001B[32m   5595\u001B[39m \u001B[43m        \u001B[49m\u001B[43merrors\u001B[49m\u001B[43m=\u001B[49m\u001B[43merrors\u001B[49m\u001B[43m,\u001B[49m\n\u001B[32m   5596\u001B[39m \u001B[43m    \u001B[49m\u001B[43m)\u001B[49m\n",
      "\u001B[36mFile \u001B[39m\u001B[32m~/PycharmProjects/RFM-Customer-Segmentation/.venv/lib/python3.12/site-packages/pandas/core/generic.py:4807\u001B[39m, in \u001B[36mNDFrame.drop\u001B[39m\u001B[34m(self, labels, axis, index, columns, level, inplace, errors)\u001B[39m\n\u001B[32m   4805\u001B[39m \u001B[38;5;28;01mfor\u001B[39;00m axis, labels \u001B[38;5;129;01min\u001B[39;00m axes.items():\n\u001B[32m   4806\u001B[39m     \u001B[38;5;28;01mif\u001B[39;00m labels \u001B[38;5;129;01mis\u001B[39;00m \u001B[38;5;129;01mnot\u001B[39;00m \u001B[38;5;28;01mNone\u001B[39;00m:\n\u001B[32m-> \u001B[39m\u001B[32m4807\u001B[39m         obj = \u001B[43mobj\u001B[49m\u001B[43m.\u001B[49m\u001B[43m_drop_axis\u001B[49m\u001B[43m(\u001B[49m\u001B[43mlabels\u001B[49m\u001B[43m,\u001B[49m\u001B[43m \u001B[49m\u001B[43maxis\u001B[49m\u001B[43m,\u001B[49m\u001B[43m \u001B[49m\u001B[43mlevel\u001B[49m\u001B[43m=\u001B[49m\u001B[43mlevel\u001B[49m\u001B[43m,\u001B[49m\u001B[43m \u001B[49m\u001B[43merrors\u001B[49m\u001B[43m=\u001B[49m\u001B[43merrors\u001B[49m\u001B[43m)\u001B[49m\n\u001B[32m   4809\u001B[39m \u001B[38;5;28;01mif\u001B[39;00m inplace:\n\u001B[32m   4810\u001B[39m     \u001B[38;5;28mself\u001B[39m._update_inplace(obj)\n",
      "\u001B[36mFile \u001B[39m\u001B[32m~/PycharmProjects/RFM-Customer-Segmentation/.venv/lib/python3.12/site-packages/pandas/core/generic.py:4849\u001B[39m, in \u001B[36mNDFrame._drop_axis\u001B[39m\u001B[34m(self, labels, axis, level, errors, only_slice)\u001B[39m\n\u001B[32m   4847\u001B[39m         new_axis = axis.drop(labels, level=level, errors=errors)\n\u001B[32m   4848\u001B[39m     \u001B[38;5;28;01melse\u001B[39;00m:\n\u001B[32m-> \u001B[39m\u001B[32m4849\u001B[39m         new_axis = \u001B[43maxis\u001B[49m\u001B[43m.\u001B[49m\u001B[43mdrop\u001B[49m\u001B[43m(\u001B[49m\u001B[43mlabels\u001B[49m\u001B[43m,\u001B[49m\u001B[43m \u001B[49m\u001B[43merrors\u001B[49m\u001B[43m=\u001B[49m\u001B[43merrors\u001B[49m\u001B[43m)\u001B[49m\n\u001B[32m   4850\u001B[39m     indexer = axis.get_indexer(new_axis)\n\u001B[32m   4852\u001B[39m \u001B[38;5;66;03m# Case for non-unique axis\u001B[39;00m\n\u001B[32m   4853\u001B[39m \u001B[38;5;28;01melse\u001B[39;00m:\n",
      "\u001B[36mFile \u001B[39m\u001B[32m~/PycharmProjects/RFM-Customer-Segmentation/.venv/lib/python3.12/site-packages/pandas/core/indexes/base.py:7136\u001B[39m, in \u001B[36mIndex.drop\u001B[39m\u001B[34m(self, labels, errors)\u001B[39m\n\u001B[32m   7134\u001B[39m \u001B[38;5;28;01mif\u001B[39;00m mask.any():\n\u001B[32m   7135\u001B[39m     \u001B[38;5;28;01mif\u001B[39;00m errors != \u001B[33m\"\u001B[39m\u001B[33mignore\u001B[39m\u001B[33m\"\u001B[39m:\n\u001B[32m-> \u001B[39m\u001B[32m7136\u001B[39m         \u001B[38;5;28;01mraise\u001B[39;00m \u001B[38;5;167;01mKeyError\u001B[39;00m(\u001B[33mf\u001B[39m\u001B[33m\"\u001B[39m\u001B[38;5;132;01m{\u001B[39;00mlabels[mask].tolist()\u001B[38;5;132;01m}\u001B[39;00m\u001B[33m not found in axis\u001B[39m\u001B[33m\"\u001B[39m)\n\u001B[32m   7137\u001B[39m     indexer = indexer[~mask]\n\u001B[32m   7138\u001B[39m \u001B[38;5;28;01mreturn\u001B[39;00m \u001B[38;5;28mself\u001B[39m.delete(indexer)\n",
      "\u001B[31mKeyError\u001B[39m: \"['LastPurchaseDate'] not found in axis\""
     ]
    }
   ],
   "execution_count": 112
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Frequency - F",
   "id": "3ef0fc3262d3933f"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T20:45:25.370052Z",
     "start_time": "2025-08-06T20:45:25.284700Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Number os purchases by client\n",
    "frequency_df = train_df.groupby('Customer ID')['Invoice'].nunique().reset_index()\n",
    "frequency_df.columns = ['CustomerID', 'Frequency']\n",
    "frequency_df.head()"
   ],
   "id": "2ab2197d631edf39",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "   CustomerID  Frequency\n",
       "0     12346.0         12\n",
       "1     12347.0          8\n",
       "2     12348.0          5\n",
       "3     12349.0          4\n",
       "4     12350.0          1"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>CustomerID</th>\n",
       "      <th>Frequency</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>12346.0</td>\n",
       "      <td>12</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>12347.0</td>\n",
       "      <td>8</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>12348.0</td>\n",
       "      <td>5</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>12349.0</td>\n",
       "      <td>4</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>12350.0</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 110,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 110
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Monetary - M",
   "id": "5dbb5b4cfc9839c5"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T20:45:17.465901Z",
     "start_time": "2025-08-06T20:45:17.433457Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Total spend by client\n",
    "monetary_df = train_df.groupby('Customer ID')['TotalPrice'].sum().reset_index()\n",
    "monetary_df.columns = ['CustomerID', 'Monetary']\n",
    "monetary_df.head()"
   ],
   "id": "6ff79df480d74c61",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "   CustomerID  Monetary\n",
       "0     12346.0  77556.46\n",
       "1     12347.0   5633.32\n",
       "2     12348.0   2019.40\n",
       "3     12349.0   4428.69\n",
       "4     12350.0    334.40"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>CustomerID</th>\n",
       "      <th>Monetary</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>12346.0</td>\n",
       "      <td>77556.46</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>12347.0</td>\n",
       "      <td>5633.32</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>12348.0</td>\n",
       "      <td>2019.40</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>12349.0</td>\n",
       "      <td>4428.69</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>12350.0</td>\n",
       "      <td>334.40</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 109,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 109
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "RFM",
   "id": "f472e4ced0043315"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T20:50:36.198287Z",
     "start_time": "2025-08-06T20:50:36.181132Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Join the tree dataframes\n",
    "rfm_df = pd.merge(recency_df, frequency_df, how='left', on='CustomerID')\n",
    "rfm_df = pd.merge(rfm_df, monetary_df, how='left', on='CustomerID')\n",
    "rfm_df.head()"
   ],
   "id": "6b60b365bd3d6c3e",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "   CustomerID  Recency  Frequency  Monetary\n",
       "0     12346.0      326         12  77556.46\n",
       "1     12347.0        2          8   5633.32\n",
       "2     12348.0       75          5   2019.40\n",
       "3     12349.0       19          4   4428.69\n",
       "4     12350.0      310          1    334.40"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>CustomerID</th>\n",
       "      <th>Recency</th>\n",
       "      <th>Frequency</th>\n",
       "      <th>Monetary</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>12346.0</td>\n",
       "      <td>326</td>\n",
       "      <td>12</td>\n",
       "      <td>77556.46</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>12347.0</td>\n",
       "      <td>2</td>\n",
       "      <td>8</td>\n",
       "      <td>5633.32</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>12348.0</td>\n",
       "      <td>75</td>\n",
       "      <td>5</td>\n",
       "      <td>2019.40</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>12349.0</td>\n",
       "      <td>19</td>\n",
       "      <td>4</td>\n",
       "      <td>4428.69</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>12350.0</td>\n",
       "      <td>310</td>\n",
       "      <td>1</td>\n",
       "      <td>334.40</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 121,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 121
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T20:50:43.180643Z",
     "start_time": "2025-08-06T20:50:43.174082Z"
    }
   },
   "cell_type": "code",
   "source": [
    "rfm_df.set_index('CustomerID', inplace=True)\n",
    "rfm_df.head()"
   ],
   "id": "83327e05f58d5443",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "            Recency  Frequency  Monetary\n",
       "CustomerID                              \n",
       "12346.0         326         12  77556.46\n",
       "12347.0           2          8   5633.32\n",
       "12348.0          75          5   2019.40\n",
       "12349.0          19          4   4428.69\n",
       "12350.0         310          1    334.40"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Recency</th>\n",
       "      <th>Frequency</th>\n",
       "      <th>Monetary</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>CustomerID</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>12346.0</th>\n",
       "      <td>326</td>\n",
       "      <td>12</td>\n",
       "      <td>77556.46</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12347.0</th>\n",
       "      <td>2</td>\n",
       "      <td>8</td>\n",
       "      <td>5633.32</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12348.0</th>\n",
       "      <td>75</td>\n",
       "      <td>5</td>\n",
       "      <td>2019.40</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12349.0</th>\n",
       "      <td>19</td>\n",
       "      <td>4</td>\n",
       "      <td>4428.69</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12350.0</th>\n",
       "      <td>310</td>\n",
       "      <td>1</td>\n",
       "      <td>334.40</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 122,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 122
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### Modeling with K-means",
   "id": "9b916a7122ad8511"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T21:06:40.013093Z",
     "start_time": "2025-08-06T21:06:39.458361Z"
    }
   },
   "cell_type": "code",
   "source": "from sklearn.preprocessing import StandardScaler",
   "id": "5b1e62a721013aa6",
   "outputs": [],
   "execution_count": 124
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T21:20:25.639639Z",
     "start_time": "2025-08-06T21:20:25.627559Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Standardize the data\n",
    "scaler = StandardScaler()\n",
    "rfm_scaled = scaler.fit_transform(rfm_df)\n",
    "rfm_scaled = pd.DataFrame(rfm_scaled, index=rfm_df.index, columns=rfm_df.columns)\n",
    "rfm_scaled.head()"
   ],
   "id": "c26f9b5dc1f64f1d",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "             Recency  Frequency  Monetary\n",
       "CustomerID                               \n",
       "12346.0     0.594598   0.439049  5.059391\n",
       "12347.0    -0.952264   0.131635  0.177579\n",
       "12348.0    -0.603743  -0.098925 -0.067718\n",
       "12349.0    -0.871102  -0.175779  0.095814\n",
       "12350.0     0.518209  -0.406339 -0.182088"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Recency</th>\n",
       "      <th>Frequency</th>\n",
       "      <th>Monetary</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>CustomerID</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>12346.0</th>\n",
       "      <td>0.594598</td>\n",
       "      <td>0.439049</td>\n",
       "      <td>5.059391</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12347.0</th>\n",
       "      <td>-0.952264</td>\n",
       "      <td>0.131635</td>\n",
       "      <td>0.177579</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12348.0</th>\n",
       "      <td>-0.603743</td>\n",
       "      <td>-0.098925</td>\n",
       "      <td>-0.067718</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12349.0</th>\n",
       "      <td>-0.871102</td>\n",
       "      <td>-0.175779</td>\n",
       "      <td>0.095814</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12350.0</th>\n",
       "      <td>0.518209</td>\n",
       "      <td>-0.406339</td>\n",
       "      <td>-0.182088</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 127,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 127
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T21:22:20.647769Z",
     "start_time": "2025-08-06T21:22:19.884609Z"
    }
   },
   "cell_type": "code",
   "source": [
    "from sklearn.cluster import KMeans\n",
    "import matplotlib.pyplot as plt\n"
   ],
   "id": "7ad69cb1436414cc",
   "outputs": [],
   "execution_count": 129
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "Finding the ideal number of clusters",
   "id": "627294299b41d0c6"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T21:26:59.989081Z",
     "start_time": "2025-08-06T21:26:59.510198Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# WCSS = Within-Cluster Sum of Squares\n",
    "wcss = []\n",
    "k_range = range(1, 11) # testing between 1 and 10 clusters\n",
    "for k in k_range:\n",
    "    kmeans = KMeans(n_clusters=k, init='k-means++', n_init=10, random_state=0)\n",
    "    kmeans.fit(rfm_scaled)\n",
    "    wcss.append(kmeans.inertia_)\n",
    "\n",
    "# plot elbow graph\n",
    "plt.figure(figsize=(10, 6))\n",
    "plt.plot(k_range, wcss, marker='o', linestyle='--')\n",
    "plt.title('Método do Cotovelo (Elbow Method)')\n",
    "plt.xlabel('Número de Clusters (K)')\n",
    "plt.ylabel('WCSS (Inércia)')\n",
    "plt.xticks(k_range)\n",
    "plt.grid(True)\n",
    "plt.show()\n"
   ],
   "id": "d628b2dc61e9c787",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "<Figure size 1000x600 with 1 Axes>"
      ],
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAA2QAAAIjCAYAAABswtioAAAAOnRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjEwLjUsIGh0dHBzOi8vbWF0cGxvdGxpYi5vcmcvWftoOwAAAAlwSFlzAAAPYQAAD2EBqD+naQAAngFJREFUeJzs3Xl8TNffB/DPTDJL9lU2kog1IiGxx74mliqqWltpq7SKFn1QqvYuqKJoVReq6KK/VmtpJPYttpCSxR6CbIhkZJ9k7vOH5jYjQTKS3Enyeb9enp97zpl7v/drPPXNufccmSAIAoiIiIiIiKjSyaUOgIiIiIiIqKZiQUZERERERCQRFmREREREREQSYUFGREREREQkERZkREREREREEmFBRkREREREJBEWZERERERERBJhQUZERERERCQRFmREROXk0KFDWLBgAdLT06UOhYiIiKoIFmREROXgxo0bGDhwIKysrGBjY1Mp1zxw4ABkMhkOHDhQodfZsGEDZDIZrl+/XqHXqY5kMhnmzZtXrue8efMm1Go1jh49WubPlvSd6dq1K3x9fcsxwurh+vXrkMlk+Oyzzyr8WvPmzYNMJhOPtVot3N3d8eWXX1b4tYlIeizIiKhGKyw2ZDIZjhw5UqxfEAS4u7tDJpPhueeeK/EcWq0WL7/8Ml599VVMmTKlWP+XX36JDRs2lHfoVd7Vq1fx5ptvol69elCr1bC2tkaHDh2wcuVKZGdnl/l8NSXPCxYsQNu2bdGhQwex7dVXXxW/x4/+UqvVEkb7bAqLIplMhkWLFpU4ZsSIEZDJZLC0tDToGrt27Sr3ovlZKRQKTJ06FR999BFycnKkDoeIKpip1AEQERkDtVqNLVu2oGPHjnrtBw8exK1bt6BSqR772ejoaAwdOhTvvvtuif1ffvklHB0d8eqrr5ZnyFXazp07MWTIEKhUKowaNQq+vr7Iy8vDkSNHMG3aNERHR2PdunVlOmdNyPOdO3fwww8/4IcffijWp1Kp8O233xZrNzExqYzQKpRarcZPP/2E2bNn67VnZmbizz//fKaic9euXVizZo3RFWWvvfYa3n//fWzZsgWvv/661OEQUQViQUZEBKBv377YunUrvvjiC5ia/vf/Grds2YKWLVvi7t27j/2sv78//P39KyHK6iEuLg5Dhw6Fp6cn9u3bB1dXV7FvwoQJuHLlCnbu3ClhhMZr06ZNMDU1Rf/+/Yv1mZqaYuTIkRJEVfH69u2L33//Hf/88w+aN28utv/555/Iy8tD7969sW/fPgkjLH+2trYICgrChg0bWJARVXN8ZJGICMCwYcNw7949hIWFiW15eXn47bffMHz48BI/o9PpsGLFCjRt2hRqtRrOzs548803cf/+fXFM3bp1ER0djYMHD4qPXnXt2lXsv3btGoYMGQJ7e3uYm5ujXbt2JRYjt27dwsCBA2FhYQEnJydMmTIFubm5Jca1detWtGzZEmZmZnB0dMTIkSNx+/btUuUhOjoa3bt3h5mZGerUqYNFixZBp9OVOPbLL79E06ZNoVKp4ObmhgkTJiAtLe2p11iyZAkyMjLw3Xff6RVjhRo0aKA325ifn4+FCxeifv36UKlUqFu3LmbNmqV3/8+a5+TkZJiammL+/PnF4rl48SJkMhlWr14ttqWlpWHy5Mlwd3eHSqVCgwYNsHjx4sfmqqizZ8+iT58+sLa2hqWlJXr06IHjx48/9XMAsG3bNrRt29bgx/OeJCIiAu3bt4eZmRm8vLywdu3aYmNSUlIwZswYODs7Q61Wo3nz5sVm61q0aIEXXnhBr83Pzw8ymQznzp0T23755RfIZDLExsY+NbbAwEB4eXlhy5Yteu2bN29G7969YW9vX+Ln/v77b3Tq1AkWFhawsrJCv379EB0dLfa/+uqrWLNmDQDoPeb5qHXr1onfv9atW+PUqVPFxuzbt0+8lq2tLQYMGFDivR05cgStW7eGWq1G/fr18fXXXz/2vnv16oUjR44gNTX1sWOIqBoQiIhqsPXr1wsAhFOnTgnt27cXXnnlFbFv27ZtglwuF27fvi14enoK/fr10/vsG2+8IZiamgpjx44V1q5dK8yYMUOwsLAQWrduLeTl5QmCIAh//PGHUKdOHcHb21v48ccfhR9//FEIDQ0VBEEQkpKSBGdnZ8HKykr44IMPhM8//1xo3ry5IJfLhd9//128TlZWltCoUSNBrVYL06dPF1asWCG0bNlSaNasmQBA2L9/f7H7ad26tbB8+XLh/fffF8zMzIS6desK9+/ff2IuEhMThVq1agl2dnbCvHnzhKVLlwoNGzYUrxMXFyeOnTt3rgBA6Nmzp7Bq1Sph4sSJgomJid69P07t2rWFevXqPXFMUaNHjxYACC+++KKwZs0aYdSoUQIAYeDAgeKY8shz9+7dBR8fn2LXnz9/vmBiYiIkJSUJgiAImZmZQrNmzQQHBwdh1qxZwtq1a4VRo0YJMplMePfdd/U+C0CYO3eueBwVFSVYWFgIrq6uwsKFC4VPP/1U8PLyElQqlXD8+PEn5iEvL08wMzMTpk6dWmKOLCwshDt37hT7lZ6eLo7bv39/se9Mly5dBDc3N8HJyUmYOHGi8MUXXwgdO3YUAAjfffedOC4rK0to0qSJoFAohClTpghffPGF0KlTJwGAsGLFCnHcO++8I9SqVUs8vnfvniCTyQS5XC6sXr1abJ8wYYLeuJLExcUJAISlS5cKs2bNEjw8PASdTicIgiDcuXNHMDU1FX766Sfx/ovauHGjIJPJhN69ewurVq0SFi9eLNStW1ewtbUVv8vHjh0TevXqJQAQvzc//vij3rUDAgKEBg0aCIsXLxaWLFkiODo6CnXq1NH7noeFhQmmpqZCo0aNhCVLlgjz588XHB0dBTs7O72/N+fOnRPMzMwEDw8P4ZNPPhEWLlwoODs7i3/HHnXkyBEBgLB9+/Yn5omIqjYWZERUoxUtyFavXi1YWVkJWVlZgiAIwpAhQ4Ru3boJgiAUK8gOHz4sABA2b96sd76QkJBi7U2bNhW6dOlS7NqTJ08WAAiHDx8W2x48eCB4eXkJdevWFQoKCgRBEIQVK1YIAIRff/1VHJeZmSk0aNBA7x/XeXl5gpOTk+Dr6ytkZ2eLY3fs2CEAEObMmfPEXBTGc+LECbEtJSVFsLGx0SvIUlJSBKVSKQQFBYkxCoIgrF69WgAgfP/994+9Rnp6ugBAGDBgwBNjKRQZGSkAEN544w299v/7v/8TAAj79u0T2541z19//bUAQDh//rze5318fITu3buLxwsXLhQsLCyES5cu6Y17//33BRMTEyE+Pl5se7QgGzhwoKBUKoWrV6+KbQkJCYKVlZXQuXPnJ+biypUrAgBh1apVxfoKi9aSfgUHB4vjHleQARCWLVsmtuXm5gr+/v6Ck5OTWHgUfg83bdokjsvLyxMCAwMFS0tLQaPRCIIgCFu3bhUACDExMYIgCMJff/0lqFQq4fnnnxdefvll8bPNmjUTBg0a9MR7LlqQRUVF6f05rlmzRrC0tBQyMzOLFWQPHjwQbG1thbFjx+qdLykpSbCxsdFrnzBhQonFUOG1HRwchNTUVLH9zz//LFYkFebq3r17Yts///wjyOVyYdSoUWLbwIEDBbVaLdy4cUNsi4mJEUxMTEqMISEhQQAgLF68+Il5IqKqjY8sEhH966WXXkJ2djZ27NiBBw8eYMeOHY99XHHr1q2wsbFBr169cPfuXfFXy5YtYWlpif379z/1ert27UKbNm30FhKxtLTEuHHjcP36dcTExIjjXF1d8eKLL4rjzM3NMW7cOL3znT59GikpKXj77bf1Fjno168fvL29n/pe1q5du9CuXTu0adNGbKtVqxZGjBihN27Pnj3Iy8vD5MmTIZf/95+RsWPHwtra+onX0Wg0AAArK6snxlI0JgCYOnWqXvt7770HAKV616y0eX7hhRdgamqKX375RRwXFRWFmJgYvPzyy2Lb1q1b0alTJ9jZ2en92ffs2RMFBQU4dOhQiXEUFBQgNDQUAwcORL169cR2V1dXDB8+HEeOHBHzU5J79+4BAOzs7ErsV6vVCAsLK/br008/fWqOTE1N8eabb4rHSqUSb775JlJSUhAREQHgYR5dXFwwbNgwcZxCocA777yDjIwMHDx4EADQqVMnABDzcPjwYbRu3Rq9evXC4cOHATx85DMqKkocWxpNmzZFs2bN8NNPPwF4+H7ngAEDYG5uXmxsWFgY0tLSMGzYML0/IxMTE7Rt27ZUfz8Lvfzyy3o5L4z52rVrAIDExERERkbi1Vdf1Xt0slmzZujVq5f4HS4oKMDu3bsxcOBAeHh4iOOaNGmC4ODgEq9deN0nvcNKRFUfCzIion/VqlULPXv2xJYtW/D777+joKBArwgq6vLly0hPT4eTkxNq1aql9ysjIwMpKSlPvd6NGzfQuHHjYu1NmjQR+wv/t0GDBsXebXn0s4XjSzqnt7e32P+keBo2bFisvbTXUSqVqFev3hOvY21tDQB48ODBE2Mpei25XI4GDRrotbu4uMDW1vap91R4jtLk2dHRET169MCvv/4qjvnll19gamqq907U5cuXERISUuzPvWfPngDw2D/7O3fuICsr67Gx6HQ63Lx586n3IwhCie0mJibo2bNnsV+lWXDGzc0NFhYWem2NGjUCAHH/ucLvR9EivDD2wn4AcHZ2RsOGDcXi6/Dhw+jUqRM6d+6MhIQEXLt2DUePHoVOpytTQQYAw4cPx9atW3HlyhUcO3bssT8wuXz5MgCge/fuxf6cQkNDS/X3s1DR4gn4r0gqfFf0SX/vmjRpgrt37yIzMxN37txBdnZ2qf6OFSr8sy7pvTYiqj64yiIRURHDhw/H2LFjkZSUhD59+sDW1rbEcTqdDk5OTti8eXOJ/bVq1arAKKsua2truLm5ISoqqkyfq6x/kA4dOhSvvfYaIiMj4e/vj19//RU9evSAo6OjOEan06FXr16YPn16iecoLGTKm4ODAwDoLRpjrDp27Ii9e/ciOzsbERERmDNnDnx9fWFra4vDhw8jNjYWlpaWCAgIKNN5hw0bhpkzZ2Ls2LFwcHBAUFBQieMKF1f58ccf4eLiUqy/6EqqT/O4bQMeVxiXp8I/66LfPyKqfliQEREVMWjQILz55ps4fvy43qNrj6pfvz727NmDDh06wMzM7InnfFwx4enpiYsXLxZrv3Dhgthf+L9RUVEQBEHvXI9+tnD8xYsX0b17d72+ixcviv2P4+npKc4sPPrZx12n6KN3eXl5iIuLE2eKHue5557DunXrEB4ejsDAwKfGpNPpcPnyZXEmBni4KmJaWprePT1rngFg4MCBePPNN8U/+0uXLmHmzJl6n6tfvz4yMjKeep+PqlWrFszNzR8bi1wuh7u7+2M/7+HhATMzM8TFxZXpuqWRkJCAzMxMvVmyS5cuAXi4giXwME/nzp2DTqfTmyUrKY+dOnXC+vXr8fPPP6OgoADt27eHXC5Hx44dxYKsffv2Zd4jzcPDAx06dMCBAwcwfvz4xxZW9evXBwA4OTk99c/pWYv9on8fHnXhwgU4OjrCwsICarUaZmZmpfo7Vqjwz7rod5+Iqh8+skhEVISlpSW++uorzJs3r8S9ngq99NJLKCgowMKFC4v15efn6y3/bmFhUeJy8H379sXJkycRHh4utmVmZmLdunWoW7cufHx8xHEJCQn47bffxHFZWVnFNk5u1aoVnJycsHbtWr0l4f/++2/ExsaiX79+T7z3vn374vjx4zh58qTYdufOnWKzgD179oRSqcQXX3yhN0vw3XffIT09/anXmT59OiwsLPDGG28gOTm5WP/Vq1excuVKMSYAWLFihd6Yzz//HAD0rvWseQYe7v0UHByMX3/9FT///DOUSiUGDhyod76XXnoJ4eHh2L17d7FrpaWlIT8/v8T7NjExQVBQEP7880/xMUDgYXFZuCl54SOdJVEoFGjVqhVOnz792DGGys/P11t+PS8vD19//TVq1aqFli1bAniYx6SkJL0fVOTn52PVqlWwtLREly5dxPbCRxEXL16MZs2awcbGRmzfu3cvTp8+XebHFQstWrQIc+fOxaRJkx47Jjg4GNbW1vj444+h1WqL9d+5c0f8fWERWpotG0ri6uoKf39//PDDD3rniIqKQmhoqPgdNjExQXBwMLZt24b4+HhxXGxsbInfJeDhVgQymeypP7ggoipO0iVFiIgkVnSVxScpadn7N998UwAg9OnTR1i+fLmwevVq4d133xXc3NyErVu3iuPefvttQSaTCQsXLhR++uknYe/evYIg/Lccu42NjfDhhx8Ky5cvF/z9/QWZTKa3HHvhiopqtVqYMWNGqZa9b9u2rbBixQph5syZgrm5eamWvU9ISBAcHBzKtOx9UFCQsHr1amHSpEmlXvZeEB6uVKdWqwU7Ozvh3XffFb755hthzZo1wogRIwSlUimMGzdOHFu4guBLL70krFmzRjwuuux9eeS50KZNmwQAgpWVldC/f/9i/ZmZmUKLFi0EU1NT4Y033hC++uor4bPPPtNber4QHrPsfe3atYWPPvpIWLx4sVCvXr1SLXsvCILw2WefCSqVSm8p+8IcqVQqvaXbi/7KyMgQBOHpy95PmjRJWLVqlbjs/bp168RxhcveK5VK4b333hNWrVolrtBYdNn7Qi4uLgIAYdKkSWJbeHi4uPrjgQMHnnq/RVdZfJKSlr3fvHmzIJfLBV9fX2HRokXC119/LXzwwQeCv7+/MGHCBHHcr7/+KgAQXnnlFWHTpk3CTz/99NRrP/rnWrjsvbe3t7B06VJhwYIF4hYS165dE8f9888/glqtFjw8PIRPP/1UWLRo0ROXvX/uueeEjh07PjVPRFS1sSAjohrtWQoyQRCEdevWCS1bthTMzMwEKysrwc/PT5g+fbqQkJAgjklKShL69esnWFlZCQD0lma/evWq8OKLLwq2traCWq0W2rRpI+zYsaPYdW7cuCE8//zzgrm5ueDo6Ci8++674hL7Rf9xLQiC8MsvvwgBAQGCSqUS7O3thREjRgi3bt0qVT7OnTsndOnSRVCr1ULt2rWFhQsXCt99912xgkwQHi5z7+3tLSgUCsHZ2VkYP378U4u+oi5duiSMHTtWqFu3rqBUKgUrKyuhQ4cOwqpVq4ScnBxxnFarFebPny94eXkJCoVCcHd3F2bOnKk3RhDKJ8+CIAgajUYwMzMrtsR7UQ8ePBBmzpwpNGjQQFAqlYKjo6PQvn174bPPPtMrSB/9h7sgCMKZM2eE4OBgwdLSUjA3Nxe6desmHDt2rFQ5S05OFkxNTcW9sgo9adn7on92jyvImjZtKpw+fVoIDAwU1Gq14OnpqbdnWNHrv/baa4Kjo6OgVCoFPz8/Yf369SXGOmTIEAGA8Msvv4hteXl5grm5uaBUKvW2ZnicZynICu83ODhYsLGxEdRqtVC/fn3h1VdfFU6fPi2Oyc/PFyZNmiTUqlVLkMlkYmFUloJMEARhz549QocOHQQzMzPB2tpa6N+/v7j0f1EHDx4UWrZsKSiVSqFevXrC2rVrxR9wFJWWliYolUrh22+/feK9E1HVJxOESngrlYiIiMrFmDFjcOnSJXEVQ6qeVqxYgSVLluDq1atPfU+ViKo2FmRERERVSHx8PBo1aoS9e/eiQ4cOUodDFUCr1aJ+/fp4//338fbbb0sdDhFVMBZkREREREREEuEqi0RERERERBJhQUZERERERCQRFmREREREREQSYUFGREREREQkEVOpA6gudDodEhISYGVlBZlMJnU4REREREQkEUEQ8ODBA7i5uUEuf/IcGAuycpKQkAB3d3epwyAiIiIiIiNx8+ZN1KlT54ljWJCVEysrKwAPk25tbS1xNA/3MAkNDUVQUBAUCoXU4VQZzJthmDfDMG+GY+4Mw7wZhnkzDPNmOObOMMaUN41GA3d3d7FGeBIWZOWk8DFFa2troynIzM3NYW1tLfkXsiph3gzDvBmGeTMcc2cY5s0wzJthmDfDMXeGMca8leZVJi7qQUREREREJBEWZERERERERBJhQUZERERERCQRFmREREREREQSkbQgO3ToEPr37w83NzfIZDJs27ZNrz8jIwMTJ05EnTp1YGZmBh8fH6xdu1ZvTE5ODiZMmAAHBwdYWlpi8ODBSE5O1hsTHx+Pfv36wdzcHE5OTpg2bRry8/P1xhw4cAAtWrSASqVCgwYNsGHDhoq4ZSIiIiIiIpGkBVlmZiaaN2+ONWvWlNg/depUhISEYNOmTYiNjcXkyZMxceJE/PXXX+KYKVOmYPv27di6dSsOHjyIhIQEvPDCC2J/QUEB+vXrh7y8PBw7dgw//PADNmzYgDlz5ohj4uLi0K9fP3Tr1g2RkZGYPHky3njjDezevbvibp6IiIiIiGo8SZe979OnD/r06fPY/mPHjmH06NHo2rUrAGDcuHH4+uuvcfLkSTz//PNIT0/Hd999hy1btqB79+4AgPXr16NJkyY4fvw42rVrh9DQUMTExGDPnj1wdnaGv78/Fi5ciBkzZmDevHlQKpVYu3YtvLy8sGzZMgBAkyZNcOTIESxfvhzBwcEVngciIiIiIqqZjHofsvbt2+Ovv/7C66+/Djc3Nxw4cACXLl3C8uXLAQARERHQarXo2bOn+Blvb294eHggPDwc7dq1Q3h4OPz8/ODs7CyOCQ4Oxvjx4xEdHY2AgACEh4frnaNwzOTJkx8bW25uLnJzc8VjjUYD4OH+B1qttjxu/5kUxmAMsVQlzJthmDfDMG+GY+4Mw7wZhnkzDPNmOObOMMaUt7LEYNQF2apVqzBu3DjUqVMHpqamkMvl+Oabb9C5c2cAQFJSEpRKJWxtbfU+5+zsjKSkJHFM0WKssL+w70ljNBoNsrOzYWZmViy2Tz75BPPnzy/WHhoaCnNzc8NuuAKEhYVJHUKVxLwZhnkzDPNmOObOMMybYZg3wzBvhmPuDGMMecvKyir1WKMvyI4fP46//voLnp6eOHToECZMmAA3N7diM1qVbebMmZg6dap4rNFo4O7ujqCgIFhbW0sY2UNarRZhYWHo1auX0exUXhUwb4Zh3gzDvBmOuTMM82YY5s0wzJvhmDvDGFPeCp+eKw2jLciys7Mxa9Ys/PHHH+jXrx8AoFmzZoiMjMRnn32Gnj17wsXFBXl5eUhLS9ObJUtOToaLiwsAwMXFBSdPntQ7d+EqjEXHPLoyY3JyMqytrUucHQMAlUoFlUpVrF2hUEj+BSjK2OKpKpg3wzBvhmHeDMfcGYZ5MwzzZhjmzXDMnWGMIW9lub7R7kNW+C6WXK4foomJCXQ6HQCgZcuWUCgU2Lt3r9h/8eJFxMfHIzAwEAAQGBiI8+fPIyUlRRwTFhYGa2tr+Pj4iGOKnqNwTOE5iIiIiIiIKoKkM2QZGRm4cuWKeBwXF4fIyEjY29vDw8MDXbp0wbRp02BmZgZPT08cPHgQGzduxOeffw4AsLGxwZgxYzB16lTY29vD2toakyZNQmBgINq1awcACAoKgo+PD1555RUsWbIESUlJmD17NiZMmCDOcL311ltYvXo1pk+fjtdffx379u3Dr7/+ip07d1Z+UoiIiIiIqMaQtCA7ffo0unXrJh4XvpM1evRobNiwAT///DNmzpyJESNGIDU1FZ6envjoo4/w1ltviZ9Zvnw55HI5Bg8ejNzcXAQHB+PLL78U+01MTLBjxw6MHz8egYGBsLCwwOjRo7FgwQJxjJeXF3bu3IkpU6Zg5cqVqFOnDr799tsqu+R9gU7AibhURNyVwSEuFYENnGAil0kdFhERERERPULSgqxr164QBOGx/S4uLli/fv0Tz6FWq7FmzZrHbi4NAJ6enti1a9dTYzl79uyTA64CQqISMX97DBLTcwCYYOPl03C1UWNufx/09nWVOjwiIiIiIirCaN8ho7ILiUrE+E1n/i3G/pOUnoPxm84gJCpRosiIiIiIiKgkLMiqiQKdgPnbY1DSfGNh2/ztMSjQPX5GkoiIiIiIKhcLsmriZFxqsZmxogQAiek5OBmXWnlBERERERHRE7EgqyZSHjy+GDNkHBERERERVTwWZNWEk5W6XMcREREREVHFY0FWTbTxsoerjRqPW9xeBsDVRo02XvaVGRYRERERET0BC7JqwkQuw9z+PgDw2KJsbn8f7kdGRERERGREWJBVI719XfHVyBZwsSn+WOKkHg24DxkRERERkZFhQVbN9PZ1xZEZ3bHp9VYY1bAAwT5OAIB9F1Kg45L3RERERERGxVTqAKj8mchlaOtlj3uxAtp28UGiJhfju9SHjE8rEhEREREZFRZk1ZyDhRJ/TewodRhERERERFQCPrJYwwgCH1skIiIiIjIWLMhqCG2BDuuPxiF4xSFk5OZLHQ4REREREYEFWY3yY/gNXErOwLpD16QOhYiIiIiIwIKsxlCYyDEtuDEA4NvD15DyIEfiiIiIiIiIiAVZDdLb1wXN3W2RlVeAVXuvSB0OEREREVGNx4KsBpHJZJjZxxsA8NPJeMTdzZQ4IiIiIiKimo0FWQ3Trp4DujWuhXydgM92X5Q6HCIiIiKiGo0FWQ00vbc3ZDLg76hE3EzNkjocIiIiIqIaixtD10BNXK0xu58PAus5wN3eXOpwiIiIiIhqLBZkNdSYjl5Sh0BEREREVOPxkUVC/L0s6HSC1GEQEREREdU4LMhquKW7L6D7sgPYFnlb6lCIiIiIiGocFmQ1nKVKgXydgGWhl5CjLZA6HCIiIiKiGoUFWQ33Woe6cLFW43ZaNjYdvyF1OERERERENQoLshpOrTDBlF4NAQCr91+BJkcrcURERERERDUHCzLC4BZ10MDJEmlZWnx98KrU4RARERER1RgsyAimJnJMD24MAPjuSBySNTkSR0REREREVDOwICMAQC8fZ7T0tIOpXI6YBI3U4RARERER1QjcGJoAADKZDEtfbAZbcyXsLZRSh0NEREREVCOwICNRvVqWUodARERERFSj8JFFKtHhy3cQdTtd6jCIiIiIiKo1FmRUzDeHruGV705iwfYYCIIgdThERERERNUWCzIq5rnmrlCZynHyeir2XUiROhwiIiIiomqLBRkV42pjhtc6eAEAFodcQIGOs2RERERERBWBBRmVaHyX+rAxU+BScgb+d+aW1OEQEREREVVLLMioRDbmCkzoVh8AsDzsEnK0BRJHRERERERU/bAgo8caFVgXbjZqJKbn4Idj16UOh4iIiIio2mFBRo+lVphgSq9G8HK04B5lREREREQVgBtD0xO90KIOBgbUhsKEtTsRERERUXljQUZPZCKXwQQyqcMgIiIiIqqWOO1BpZKXr8MPx67j412xUodCRERERFRtSFqQHTp0CP3794ebmxtkMhm2bdtWbExsbCyef/552NjYwMLCAq1bt0Z8fLzYn5OTgwkTJsDBwQGWlpYYPHgwkpOT9c4RHx+Pfv36wdzcHE5OTpg2bRry8/P1xhw4cAAtWrSASqVCgwYNsGHDhoq45SorJlGDuX9F49vD13Ax6YHU4RARERERVQuSFmSZmZlo3rw51qxZU2L/1atX0bFjR3h7e+PAgQM4d+4cPvzwQ6jVanHMlClTsH37dmzduhUHDx5EQkICXnjhBbG/oKAA/fr1Q15eHo4dO4YffvgBGzZswJw5c8QxcXFx6NevH7p164bIyEhMnjwZb7zxBnbv3l1xN1/F+LvbondTF+gEYOnuC1KHQ0RERERULUj6DlmfPn3Qp0+fx/Z/8MEH6Nu3L5YsWSK21a9fX/x9eno6vvvuO2zZsgXdu3cHAKxfvx5NmjTB8ePH0a5dO4SGhiImJgZ79uyBs7Mz/P39sXDhQsyYMQPz5s2DUqnE2rVr4eXlhWXLlgEAmjRpgiNHjmD58uUIDg6uoLuveqb1boyw2GTsiU3BybhUtPGylzokIiIiIqIqzWgX9dDpdNi5cyemT5+O4OBgnD17Fl5eXpg5cyYGDhwIAIiIiIBWq0XPnj3Fz3l7e8PDwwPh4eFo164dwsPD4efnB2dnZ3FMcHAwxo8fj+joaAQEBCA8PFzvHIVjJk+e/Nj4cnNzkZubKx5rNBoAgFarhVarLYcMPJvCGMozFg9bFYa0rI2fT93CJ7ti8MvYNpDJqteCHxWRt5qAeTMM82Y45s4wzJthmDfDMG+GY+4MY0x5K0sMRluQpaSkICMjA59++ikWLVqExYsXIyQkBC+88AL279+PLl26ICkpCUqlEra2tnqfdXZ2RlJSEgAgKSlJrxgr7C/se9IYjUaD7OxsmJmZFYvvk08+wfz584u1h4aGwtzc3OD7Lm9hYWHlej4fHaCUm+DszXQs3hyCZvZCuZ7fWJR33moK5s0wzJvhmDvDMG+GYd4Mw7wZjrkzjDHkLSsrq9RjjbYg0+l0AIABAwZgypQpAAB/f38cO3YMa9euRZcuXaQMDzNnzsTUqVPFY41GA3d3dwQFBcHa2lrCyB7SarUICwtDr169oFAoyvXciZaX8dXBOBxMtcb04e0hl1efWbKKzFt1xrwZhnkzHHNnGObNMMybYZg3wzF3hjGmvBU+PVcaRluQOTo6wtTUFD4+Pnrthe93AYCLiwvy8vKQlpamN0uWnJwMFxcXcczJkyf1zlG4CmPRMY+uzJicnAxra+sSZ8cAQKVSQaVSFWtXKBSSfwGKqoh43u7WEPH3c/B21/pQqZTlem5jYWx/jlUF82YY5s1wzJ1hmDfDMG+GYd4Mx9wZxhjyVpbrG+0+ZEqlEq1bt8bFixf12i9dugRPT08AQMuWLaFQKLB3716x/+LFi4iPj0dgYCAAIDAwEOfPn0dKSoo4JiwsDNbW1mKxFxgYqHeOwjGF5yB9VmoF1gxvgaZuNlKHQkRERERUpUk6Q5aRkYErV66Ix3FxcYiMjIS9vT08PDwwbdo0vPzyy+jcuTO6deuGkJAQbN++HQcOHAAA2NjYYMyYMZg6dSrs7e1hbW2NSZMmITAwEO3atQMABAUFwcfHB6+88gqWLFmCpKQkzJ49GxMmTBBnuN566y2sXr0a06dPx+uvv459+/bh119/xc6dOys9J1VRVl4+zJVGO9lKRERERGS0JJ0hO336NAICAhAQEAAAmDp1KgICAsQ9wgYNGoS1a9diyZIl8PPzw7fffov//e9/6Nixo3iO5cuX47nnnsPgwYPRuXNnuLi44Pfffxf7TUxMsGPHDpiYmCAwMBAjR47EqFGjsGDBAnGMl5cXdu7cibCwMDRv3hzLli3Dt99+yyXvnyI7rwBz/4xCp8X7cT8zT+pwiIiIiIiqHEmnNbp27QpBePIqfa+//jpef/31x/ar1WqsWbPmsZtLA4Cnpyd27dr11FjOnj375IBJj8pUjpPX7+NeZh7W7L+C2c/5PP1DREREREQkMtp3yMj4yeUyvN/HGwCwMfwGbt0v/fKeRERERETEgoyeUeeGjmhf3wF5BTp8HnZJ6nCIiIiIiKoUFmT0TGQyGWb0fjhL9sfZ24hNLP2eC0RERERENR0LMnpmzd1t0a+ZKwQBWBJyQepwiIiIiIiqDBZkVC6mBTWGqVyGk3GpSEzPljocIiIiIqIqgZtHUbmo62iBL4YFoI2XPRwtVVKHQ0RERERUJbAgo3LT189V6hCIiIiIiKoUPrJIFSL86j1oC3RSh0FEREREZNRYkFG5m/zzWQz75jh+PnVT6lCIiIiIiIwaCzIqdwEedgCAlXsuIzM3X+JoiIiIiIiMFwsyKnfD2njA08EcdzNy8d2ROKnDISIiIiIyWizIqNwpTeX4v6DGAICvD17FvYxciSMiIiIiIjJOLMioQvTzc4VfbRtk5hVg1b4rUodDRERERGSUWJBRhZDLZXi/jzcAYPOJG4i/lyVxRERERERExocFGVWYDg0c0blRLbjZmuFORo7U4RARERERGR1uDE0VatmQ5rA1V0BhwtqfiIiIiOhRLMioQtWyUkkdAhERERGR0eK0BVWKvHwdNoZfx/Fr96QOhYiIiIjIaLAgo0rx5YErmPNnNBbtjIFOJ0gdDhERERGRUWBBRpXilXaesFSZIuq2BjvOJ0odDhERERGRUWBBRpXCwVKFNzvXAwB8tvsi8vJ1EkdERERERCQ9FmRUacZ08kItKxXiU7Pw08l4qcMhIiIiIpIcCzKqNOZKU0zu2RAA8MXey8jIzZc4IiIiIiIiabEgo0r1Uit31HO0wL3MPHxz6JrU4RARERERSYoFGVUqhYkc04Ibo1NDR/TycZY6HCIiIiIiSXFjaKp0vX1d0MfPVeowiIiIiIgkxxkyqnQymUzvWBC4LxkRERER1UycISPJ3MvIxap9V5CWlYcVQwOkDoeIiIiIqNJxhowkk/IgFz+EX8e2yARE3kyTOhwiIiIiokrHgowk08TVGoMCagMAPv07lo8uEhEREVGNw4KMJDW1VyMoTeQ4fi0VBy/dkTocIiIiIqJKxYKMJFXHzhyj23sCAD79+wJ0Os6SEREREVHNwYKMJPd21wawUpviQtID/PnPbanDISIiIiKqNCzISHJ2FkqM71ofALD2wDW+S0ZERERENQaXvSej8Fp7LzzIyceYjl7F9ikjIiIiIqquWJCRUTBTmmBGb2+pwyAiIiIiqlR8ZJGM0s3ULKlDICIiIiKqcCzIyKhocrR45bsT6LX8IJI1OVKHQ0RERERUoViQkVGxUpkiK68AOVodVuy5LHU4REREREQVigUZGRWZTIaZfR6+S/br6Zu4kpIhcURERERERBWHBRkZnVZ17dHLxxkFOgGf7b4odThERERERBWGBRkZpenBjSGXASHRSTgTf1/qcIiIiIiIKoSkBdmhQ4fQv39/uLm5QSaTYdu2bY8d+9Zbb0Emk2HFihV67ampqRgxYgSsra1ha2uLMWPGICND/zG3c+fOoVOnTlCr1XB3d8eSJUuKnX/r1q3w9vaGWq2Gn58fdu3aVR63SAZq6GyFIS3dAQCf7rrAzaKJiIiIqFqStCDLzMxE8+bNsWbNmieO++OPP3D8+HG4ubkV6xsxYgSio6MRFhaGHTt24NChQxg3bpzYr9FoEBQUBE9PT0RERGDp0qWYN28e1q1bJ445duwYhg0bhjFjxuDs2bMYOHAgBg4ciKioqPK7WSqzyb0aQmUqR5ImB3cycqUOh4iIiIio3Em6MXSfPn3Qp0+fJ465ffs2Jk2ahN27d6Nfv356fbGxsQgJCcGpU6fQqlUrAMCqVavQt29ffPbZZ3Bzc8PmzZuRl5eH77//HkqlEk2bNkVkZCQ+//xzsXBbuXIlevfujWnTpgEAFi5ciLCwMKxevRpr164tMa7c3Fzk5v5XJGg0GgCAVquFVqs1LCHlqDAGY4jFUI7mptj4Wiv4ullDaSqvlHupDnmTAvNmGObNcMydYZg3wzBvhmHeDMfcGcaY8laWGCQtyJ5Gp9PhlVdewbRp09C0adNi/eHh4bC1tRWLMQDo2bMn5HI5Tpw4gUGDBiE8PBydO3eGUqkUxwQHB2Px4sW4f/8+7OzsEB4ejqlTp+qdOzg4+ImPUH7yySeYP39+sfbQ0FCYm5sbcLcVIywsTOoQnlmSBBOV1SFvUmDeDMO8GY65MwzzZhjmzTDMm+GYO8MYQ96ysrJKPdaoC7LFixfD1NQU77zzTon9SUlJcHJy0mszNTWFvb09kpKSxDFeXl56Y5ydncU+Ozs7JCUliW1FxxSeoyQzZ87UK+I0Gg3c3d0RFBQEa2vr0t9kBdFqtQgLC0OvXr2gUCikDueZaQt02BaZgP7NXKFWmFTcdapZ3ioL82YY5s1wzJ1hmDfDMG+GYd4Mx9wZxpjyVvj0XGkYbUEWERGBlStX4syZM5DJZFKHU4xKpYJKpSrWrlAoJP8CFGVs8Rjq1R+O4+iVe3iQq8ObXepX+PWqS94qG/NmGObNcMydYZg3wzBvhmHeDMfcGcYY8laW6xvtsveHDx9GSkoKPDw8YGpqClNTU9y4cQPvvfce6tatCwBwcXFBSkqK3ufy8/ORmpoKFxcXcUxycrLemMLjp40p7CfpDfSvDQBYs/8K0rOkfy6YiIiIiKg8GG1B9sorr+DcuXOIjIwUf7m5uWHatGnYvXs3ACAwMBBpaWmIiIgQP7dv3z7odDq0bdtWHHPo0CG9F+vCwsLQuHFj2NnZiWP27t2rd/2wsDAEBgZW9G1SKb3Qog4aOVtCk5OPLw9ekTocIiIiIqJyIWlBlpGRIRZbABAXF4fIyEjEx8fDwcEBvr6+er8UCgVcXFzQuHFjAECTJk3Qu3dvjB07FidPnsTRo0cxceJEDB06VFwif/jw4VAqlRgzZgyio6Pxyy+/YOXKlXrvf7377rsICQnBsmXLcOHCBcybNw+nT5/GxIkTKz0nVDITuQwzensDANYfvY6EtGyJIyIiIiIienaSFmSnT59GQEAAAgICAABTp05FQEAA5syZU+pzbN68Gd7e3ujRowf69u2Ljh076u0xZmNjg9DQUMTFxaFly5Z47733MGfOHL29ytq3b48tW7Zg3bp1aN68OX777Tds27YNvr6+5Xez9My6ezuhTV175OXrsGLPJanDISIiIiJ6ZpIu6tG1a1cIglDq8devXy/WZm9vjy1btjzxc82aNcPhw4efOGbIkCEYMmRIqWOhyieTyfB+X2+88OUx/BZxC290qodGzlZSh0VEREREZDCjXWWRqCQtPOzQu6kLHuRqITe+xTeJiIiIiMqEBRlVOSuG+lfoXmRERERERJXFaFdZJHocFmNEREREVF2wIKMq615GLuZvj0ZYTPLTBxMRERERGSEWZFRlbQy/gfVHr+PTv2ORX6CTOhwiIiIiojJjQUZV1hudvGBnrsDVO5n4LeKW1OEQEREREZUZCzKqsqzUCkzq3hAAsHzPJWTnFUgcERERERFR2bAgoyptRDsP1LEzQ7ImF+uPxUkdDhERERFRmbAgoypNZWqC/wtqDAD46sBV3M/MkzgiIiIiIqLSY0FGVd7zzd3QxNUaD3LysfbgVanDISIiIiIqNW4MTVWeXC7DzD7e2BObjDc61ZM6HCIiIiKiUmNBRtVC50a10LlRLanDICIiIiIqEz6ySNVSjpYrLhIRERGR8WNBRtVK3N1MjP7+JMZvipA6FCIiIiKip+Iji1TtHL1yF/k6AeFX7yGwvoPU4RARERERPRZnyKha8XK0wLA2HgCAT0MuQBAEiSMiIiIiIno8FmRU7bzToyHMlSb452Ya/o5KkjocIiIiIqLHYkFG1U4tKxXG/rv8/dLdF6Et0EkcERERERFRyViQUbU0tnM9OFgoEXc3Ez+fuil1OEREREREJWJBRtWSpcoU7/RoCAD448wtvktGREREREaJqyxStTWsjQeUpnIMblEHMplM6nCIiIiIiIphQUbVltJULq64SERERERkjPjIItUI2gIdTl9PlToMIiIiIiI9LMio2kvLykPw8kMY9s1xxN/LkjocIiIiIiIRCzKq9mzNlahtZwZtgYBlYRelDoeIiIiISMSCjGqEGb29AQB/RiYg6na6xNEQERERET3EgoxqBN/aNhjo7wYAWBxyQeJoiIiIiIgeYkFGNcZ7QY2hMJHh8OW7OHL5rtThEBERERGxIKOaw93eHCPbeQIAPg2JhU7HzaKJiIiISFosyKhGmditASxVprBSKZCerZU6HCIiIiKq4bgxNNUoDpYq/P1uJ9SxM4NMJpM6HCIiIiKq4ViQUY3jbm8udQhERERERAD4yCLVYKmZeVgScgEZuflSh0JERERENRRnyKjGem39SfxzKx0KEzmm9GokdThEREREVANxhoxqrLe61AcAfHP4GlIe5EgcDRERERHVRCzIqMbq7euC5u62yMorwKq9V6QOh4iIiIhqIBZkVGPJZDLM7OMNAPjpZDzi7mZKHBERERER1TQsyKhGa1fPAd0a10K+TsDSkAs4EZeKiLsynIhLRQE3jiYiIiKiCsZFPajGm97bG/sv3sGuqCTsikoCYIKNl0/D1UaNuf190NvXVeoQiYiIiKia4gwZ1Xg37pX8qGJSeg7GbzqDkKjESo6IiIiIiGoKFmRUoxXoBMzfHlNiX+EDi/O3x/DxRSIiIiKqEJIWZIcOHUL//v3h5uYGmUyGbdu2iX1arRYzZsyAn58fLCws4ObmhlGjRiEhIUHvHKmpqRgxYgSsra1ha2uLMWPGICMjQ2/MuXPn0KlTJ6jVari7u2PJkiXFYtm6dSu8vb2hVqvh5+eHXbt2Vcg9k3E5GZeKxPTHL3kvAEhMz8HJuNTKC4qIiIiIagxJC7LMzEw0b94ca9asKdaXlZWFM2fO4MMPP8SZM2fw+++/4+LFi3j++ef1xo0YMQLR0dEICwvDjh07cOjQIYwbN07s12g0CAoKgqenJyIiIrB06VLMmzcP69atE8ccO3YMw4YNw5gxY3D27FkMHDgQAwcORFRUVMXdPBmF0u4/xn3KiIiIiKgiSLqoR58+fdCnT58S+2xsbBAWFqbXtnr1arRp0wbx8fHw8PBAbGwsQkJCcOrUKbRq1QoAsGrVKvTt2xefffYZ3NzcsHnzZuTl5eH777+HUqlE06ZNERkZic8//1ws3FauXInevXtj2rRpAICFCxciLCwMq1evxtq1ayswAyQ1Jyt1uY4jIiIiIiqLKrXKYnp6OmQyGWxtbQEA4eHhsLW1FYsxAOjZsyfkcjlOnDiBQYMGITw8HJ07d4ZSqRTHBAcHY/Hixbh//z7s7OwQHh6OqVOn6l0rODhY7xHKR+Xm5iI3N1c81mg0AB4+aqnVasvhbp9NYQzGEIsxC6hjBRdrFZI1uSjpLTEZABcbFQLqWDGXT8Dvm2GYN8Mxd4Zh3gzDvBmGeTMcc2cYY8pbWWKoMgVZTk4OZsyYgWHDhsHa2hoAkJSUBCcnJ71xpqamsLe3R1JSkjjGy8tLb4yzs7PYZ2dnh6SkJLGt6JjCc5Tkk08+wfz584u1h4aGwtzcvOw3WEEenWWk4vq6yPC9pvDpXZlenwABfZyzsDvk78oPrAri980wzJvhmDvDMG+GYd4Mw7wZjrkzjDHkLSsrq9Rjq0RBptVq8dJLL0EQBHz11VdShwMAmDlzpt6smkajgbu7O4KCgsSCUUparRZhYWHo1asXFAqF1OEYtb4AWkQnY9GuC0jS5Or11bY1w/QRnWAil5X8YQLA75uhmDfDMXeGYd4Mw7wZhnkzHHNnGGPKW+HTc6Vh9AVZYTF248YN7Nu3T6/YcXFxQUpKit74/Px8pKamwsXFRRyTnJysN6bw+GljCvtLolKpoFKpirUrFArJvwBFGVs8xuo5/zro06w2wq+kIPTwCbRt1QLv/x6F22k5+PVMAkYF1pU6xCqB3zfDMG+GY+4Mw7wZhnkzDPNmOObOMMaQt7Jc36j3ISssxi5fvow9e/bAwcFBrz8wMBBpaWmIiIgQ2/bt2wedToe2bduKYw4dOqT3HGdYWBgaN24MOzs7cczevXv1zh0WFobAwMCKujUyQiZyGdp62aOlo4AgH2dM6+0NANh29jYEgfuQEREREVH5k3SGLCMjA1euXBGP4+LiEBkZCXt7e7i6uuLFF1/EmTNnsGPHDhQUFIjvdNnb20OpVKJJkybo3bs3xo4di7Vr10Kr1WLixIkYOnQo3NzcAADDhw/H/PnzMWbMGMyYMQNRUVFYuXIlli9fLl733XffRZcuXbBs2TL069cPP//8M06fPq23ND7VPCPaekJhIsfgFnUgk/GRRSIiIiIqf5LOkJ0+fRoBAQEICAgAAEydOhUBAQGYM2cObt++jb/++gu3bt2Cv78/XF1dxV/Hjh0Tz7F582Z4e3ujR48e6Nu3Lzp27KhXSNnY2CA0NBRxcXFo2bIl3nvvPcyZM0dvr7L27dtjy5YtWLduHZo3b47ffvsN27Ztg6+vb+Ulg4yOiVyGYW08oDQ16olkIiIiIqrCJJ0h69q16xMfBSvNY2L29vbYsmXLE8c0a9YMhw8ffuKYIUOGYMiQIU+9HtVM2gIdtp29jRda1OECH0RERERUbox+UQ8iqQmCgKHrjiPixn1oCwQMb+shdUhEREREVE3wWSyip5DJZOjn5woAWLL7Au5n5kkcERERERFVFyzIiEphVKAnvF2skJalxdLQi1KHQ0RERETVBAsyolIwNZFj/vNNAQA/nYzHuVtp0gZERERERNUCCzKiUmpbzwED/d0gCMCcP6Oh03FvMiIiIiJ6NizIiMpgVt8msFCaIPJmGn6LuCV1OERERERUxZV6lcXY2Fj8/PPPOHz4MG7cuIGsrCzUqlULAQEBCA4OxuDBg6FSqSoyViLJOVmrMblnI+y7kIIAD1upwyEiIiKiKu6pM2RnzpxBz549ERAQgCNHjqBt27aYPHkyFi5ciJEjR0IQBHzwwQdwc3PD4sWLkZubWxlxE0nm9Y5e2DK2LRo6W0kdChERERFVcU+dIRs8eDCmTZuG3377Dba2to8dFx4ejpUrV2LZsmWYNWtWecZIZFQe3Rg6v0AHUxM+/UtEREREZffUguzSpUtQKBRPPVFgYCACAwOh1WrLJTAiY5eercXnoRcRm/gAP49rB/kjhRoRERER0dM89cf6pSnGnmU8UVWVlZePrRG3cPJ6Kn4/e1vqcIiIiIioCir1oh6FMjMzcfDgQcTHxyMvL0+v75133im3wIiMnauNGSZ1b4jFIRfw6d+xCGrqDGs1fyBBRERERKVXpoLs7Nmz6Nu3L7KyspCZmQl7e3vcvXsX5ubmcHJyYkFGNc6Yjl7YGnET1+5kYnnYJczt31TqkIiIiIioCinTSgRTpkxB//79cf/+fZiZmeH48eO4ceMGWrZsic8++6yiYiQyWkpTOeY//7AI2xh+AxeSNBJHRERERERVSZkKssjISLz33nuQy+UwMTFBbm4u3N3dsWTJEq6sSDVWp4a10MfXBQU6AXO2RUMQBKlDIiIiIqIqokwFmUKhgFz+8CNOTk6Ij48HANjY2ODmzZvlHx1RFTH7OR+YKUwQm6TB9XtZUodDRERERFVEmd4hCwgIwKlTp9CwYUN06dIFc+bMwd27d/Hjjz/C19e3omIkMnq1bc2wZkQAmtWxhaOlSupwiIiIiKiKKNMM2ccffwxXV1cAwEcffQQ7OzuMHz8ed+7cwbp16yokQKKqoru3M4sxIiIiIiqTMs2QtWrVSvy9k5MTQkJCyj0goupg34VkeNibo4GTldShEBEREZERK9MMGRE93Zr9V/D6htOY8ycX+CAiIiKiJ3vqDFmLFi2wd+9e2NnZISAgADKZ7LFjz5w5U67BEVVFzzd3wxd7L+PY1XvYeT4RzzVzkzokIiIiIjJSTy3IBgwYAJXq4XsxAwcOrOh4iKo8d3tzjO9aHyv2XMaiHbHo1tgJFqoyPR1MRERERDXEU/+VOHfu3BJ/T0SP91aX+vjfmVu4mZqNVfuu4P0+3lKHRERERERGqEzvkJ06dQonTpwo1n7ixAmcPn263IIiqurUChPMfa4pAOC7I9dw9U6GxBERERERkTEqU0E2YcKEEjeAvn37NiZMmFBuQRFVBz19nNHd2wnaAgHz/uICH0RERERUXJlebImJiUGLFi2KtQcEBCAmJqbcgiKqLuY854ObqVl4rUPdJy6IQ0REREQ1U5kKMpVKheTkZNSrV0+vPTExEaamXLSA6FF1HS0QOqUzizEiIiIiKlGZHlkMCgrCzJkzkZ6eLralpaVh1qxZ6NWrV7kHR1QdFC3GcvMLJIyEiIiIiIxNmQqypUuX4ubNm/D09ES3bt3QrVs3eHl5ISkpCcuWLauoGImqPJ1OwA/HrqPDp/sRdzdT6nCIiIiIyEiUqSCrU6cOzp07hyVLlsDHxwctW7bEypUrcf78ebi7u1dUjERVnkwG7L2QgrsZuZi/nQt8EBEREdFDpX7xS6vVwtvbGzt27MC4ceMqMiaiakcmk2Fefx8ErziEAxfvICwmGUFNXaQOi4iIiIgkVuoZMoVCgZycnIqMhahaq1fLEm90erggzoIdMcjR8n0yIiIiopquzPuQLV68GPn5+RUVD1G1Nql7A7jaqHHrfja+OnBV6nCIiIiISGJlWqv+1KlT2Lt3L0JDQ+Hn5wcLCwu9/t9//71cgyOqbsyVppjdzwcTtpzBVwevYnCLOvBwMJc6LCIiIiKSSJkKMltbWwwePLiiYiGqEfr6uaB9fQccv3YPx67ehYeDh9QhEREREZFEylSQrV+/vqLiIKoxZDIZPhrkh6y8fDR1s5E6HCIiIiKSUJneIQOA/Px87NmzB19//TUePHgAAEhISEBGRka5B0dUXXk5WrAYIyIiIqInz5BlZWXB3Py/91tu3LiB3r17Iz4+Hrm5uejVqxesrKywePFi5ObmYu3atRUeMFF1czn5AWISNRjgX1vqUIiIiIiokj1xhmz58uVYt26dePzuu++iVatWuH//PszMzMT2QYMGYe/evRUXJVE1FZ2Qjj4rD2PG/87h1v0sqcMhIiIiokr2xIJs5MiR+PbbbzFnzhwAwOHDhzF79mwolUq9cXXr1sXt27crLkqiasrH1RotPe2Qo9Vh4Y4YqcMhIiIiokr2xILM09MThw8fxr179wAAOp0OBQXFN7O9desWrKysKiZCompMJpNhwQBfmMhl2B2djIOX7kgdEhERERFVoqcu6qFSqbBmzRoAQFBQEFasWCH2yWQyZGRkYO7cuejbt2+FBUlUnTV2scLowLoAgPl/RSM3v/gPPYiIiIioeirTKovLli3D0aNH4ePjg5ycHAwfPlx8XHHx4sVlvvihQ4fQv39/uLm5QSaTYdu2bXr9giBgzpw5cHV1hZmZGXr27InLly/rjUlNTcWIESNgbW0NW1tbjBkzptiKj+fOnUOnTp2gVqvh7u6OJUuWFItl69at8Pb2hlqthp+fH3bt2lXm+yEy1OReDeFoqcK1u5n47kic1OEQERERUSUpU0FWp04d/PPPP5g1axamTJmCgIAAfPrppzh79iycnJzKfPHMzEw0b95cnIF71JIlS/DFF19g7dq1OHHiBCwsLBAcHIycnBxxzIgRIxAdHY2wsDDs2LEDhw4dwrhx48R+jUaDoKAgeHp6IiIiAkuXLsW8efP0Fis5duwYhg0bhjFjxuDs2bMYOHAgBg4ciKioqDLfE5EhrNUKzOrrDQBYtfcKEtOzJY6IiIiIiCpDmTaGBgBTU1OMHDmyXC7ep08f9OnTp8Q+QRCwYsUKzJ49GwMGDAAAbNy4Ec7Ozti2bRuGDh2K2NhYhISE4NSpU2jVqhUAYNWqVejbty8+++wzuLm5YfPmzcjLy8P3338PpVKJpk2bIjIyEp9//rlYuK1cuRK9e/fGtGnTAAALFy5EWFgYVq9e/dil/HNzc5GbmyseazQaAIBWq4VWqy2X/DyLwhiMIZaqRMq8PefrhD8jHRFYzx42KnmV+rPj980wzJvhmDvDMG+GYd4Mw7wZjrkzjDHlrSwxyARBEMpy8suXL2P//v1ISUmBTqfT6ytcjdEQMpkMf/zxBwYOHAgAuHbtGurXr4+zZ8/C399fHNelSxf4+/tj5cqV+P777/Hee+/h/v37Yn9+fj7UajW2bt2KQYMGYdSoUdBoNHqPQ+7fvx/du3dHamoq7Ozs4OHhgalTp2Ly5MnimLlz52Lbtm34559/Sox33rx5mD9/frH2LVu26O3dRlQWggDIZFJHQURERETPIisrC8OHD0d6ejqsra2fOLZMM2TffPMNxo8fD0dHR7i4uEBW5F+OMpnsmQqyRyUlJQEAnJ2d9dqdnZ3FvqSkpGKPSpqamsLe3l5vjJeXV7FzFPbZ2dkhKSnpidcpycyZMzF16lTxWKPRwN3dHUFBQU9NemXQarUICwtDr169oFAopA6nyjCmvOXl6yCTAQqTMj1ZLAljyltVwrwZjrkzDPNmGObNMMyb4Zg7wxhT3gqfniuNMhVkixYtwkcffYQZM2aUOajqRqVSQaVSFWtXKBSSfwGKMrZ4qgqp83bs6l3M3haFoa3dMa5zfcniKCup81ZVMW+GY+4Mw7wZhnkzDPNmOObOMMaQt7Jcv0w/er9//z6GDBlS5oAM4eLiAgBITk7Wa09OThb7XFxckJKSotefn5+P1NRUvTElnaPoNR43prCfqLLdSs3GtTuZWLnnMpI1OU//ABERERFVSWUqyIYMGYLQ0NCKikWPl5cXXFxcsHfvXrFNo9HgxIkTCAwMBAAEBgYiLS0NERER4ph9+/ZBp9Ohbdu24phDhw7pvVgXFhaGxo0bw87OThxT9DqFYwqvQ1TZXmxZB/7utsjMK8DHu2KlDoeIiIiIKkiZHlls0KABPvzwQxw/fhx+fn7FpuLeeeedMl08IyMDV65cEY/j4uIQGRkJe3t7eHh4YPLkyVi0aBEaNmwILy8vfPjhh3BzcxMX/mjSpAl69+6NsWPHYu3atdBqtZg4cSKGDh0KNzc3AMDw4cMxf/58jBkzBjNmzEBUVBRWrlyJ5cuXi9d999130aVLFyxbtgz9+vXDzz//jNOnT+stjU9UmeRyGRYO8MXza47gz8gEDGvjgXb1HKQOi4iIiIjKWZkKsnXr1sHS0hIHDx7EwYMH9fpkMlmZC7LTp0+jW7du4nHhIhmjR4/Ghg0bMH36dGRmZmLcuHFIS0tDx44dERISArVaLX5m8+bNmDhxInr06AG5XI7Bgwfjiy++EPttbGwQGhqKCRMmoGXLlnB0dMScOXP09ipr3749tmzZgtmzZ2PWrFlo2LAhtm3bBl9f3zLdD1F58qtjg+FtPLD5RDzm/hmNHe90rBILfBARERFR6ZWpIIuLiyvXi3ft2hVPWnVfJpNhwYIFWLBgwWPH2NvbY8uWLU+8TrNmzXD48OEnjhkyZEilvR9HVFrTghtj1/lEXEx+gB/Db+D1jl5P/xARERERVRn8cTuREbM1V2JasDcA4PSNVImjISIiIqLyVqoZsqL7bT3J559//kzBEFFxL7d2R207M3Ru6Ch1KERERERUzkpVkJ09e/apY4puEk1E5cdELkOXRrWkDoOIiIiIKkCpCrL9+/dXdBxEVAppWXnYGH4Db3etD1Mu8EFERERU5ZVpUQ8ikk6BTsALXx7DtbuZsDFTYHT7ulKHRERERETP6Kk/Yv/000+RlZVVqpOdOHECO3fufOagiKg4E7kMr/27yuJnoRdxNyNX4oiIiIiI6Fk9tSCLiYmBp6cn3n77bfz999+4c+eO2Jefn49z587hyy+/RPv27fHyyy/DysqqQgMmqsmGt/FAUzdrPMjJx+K/L0gdDhERERE9o6cWZBs3bsSePXug1WoxfPhwuLi4QKlUwsrKCiqVCgEBAfj+++8xatQoXLhwAZ07d66MuIlqJBO5DAsGPNywfGvELZyJvy9xRERERET0LEr1Dlnz5s3xzTff4Ouvv8a5c+dw48YNZGdnw9HREf7+/nB05HLcRJWlpacdXmxZB79F3MKcP6Pw54SOMJFzlVMiIiKiqqhMi3rI5XL4+/vD39+/gsIhotJ4v483dkcnIeq2Br+cuonhbT2kDomIiIiIDMBVFomqIEdLFaYFN0Zsoga9fV2kDoeIiIiIDMSCjKiKGhVYV+oQiIiIiOgZcWdZompAEARocrRSh0FEREREZcSCjKiKu52WjVfXn8Ir352ETidIHQ4RERERlcEzFWQ3btxATEwMdDpdecVDRGWkkMsQceM+/rmZhq0RN6UOh4iIiIjKoFQF2ffff4/PP/9cr23cuHGoV68e/Pz84Ovri5s3+Q9BIik4WasxuWdDAMDikItIy8qTOCIiIiIiKq1SFWTr1q2DnZ2deBwSEoL169dj48aNOHXqFGxtbTF//vwKC5KInmx0+7po5GyJ1Mw8LAu9JHU4RERERFRKpSrILl++jFatWonHf/75JwYMGIARI0agRYsW+Pjjj7F3794KC5KInkxhIsf8530BAJtP3EDU7XSJIyIiIiKi0ihVQZadnQ1ra2vx+NixY+jcubN4XK9ePSQlJZV/dERUaoH1HdC/uRt0AjDnzygu8EFERERUBZSqIPP09ERERAQA4O7du4iOjkaHDh3E/qSkJNjY2FRMhERUah/0bQILpQnuZ2mR8iBX6nCIiIiI6ClKtTH06NGjMWHCBERHR2Pfvn3w9vZGy5Ytxf5jx47B19e3woIkotJxsVFj0xtt4eNmDZWpidThEBEREdFTlKogmz59OrKysvD777/DxcUFW7du1es/evQohg0bViEBElHZBHjYPX0QERERERmFUhVkcrkcCxYswIIFC0rsf7RAIyLp5Rfo8EP4DbSv74AmrtZP/wARERERVbpSFWQlycnJwS+//ILMzEwEBQWhQYMG5RkXET2jxSEX8M3hOLSua4df3wyETCaTOiQiIiIiekSpFvWYOnUqJk2aJB7n5eUhMDAQY8eOxaxZs+Dv74/w8PAKC5KIyu7VDl4wU5jg1PX7+DMyQepwiIiIiKgEpSrIQkND0atXL/F48+bNuHHjBi5fvoz79+9jyJAhWLRoUYUFSURlV9vWDBO7P5y5/mhXLB7kaCWOiIiIiIgeVaqCLD4+Hj4+PuJxaGgoXnzxRXh6ekImk+Hdd9/F2bNnKyxIIjLMG5284OVogTsPcrFyz2WpwyEiIiKiR5SqIJPL5RCE/zaZPX78ONq1ayce29ra4v79++UfHRE9E5WpCeb2f/jDlPXHruNS8gOJIyIiIiKiokpVkDVp0gTbt28HAERHRyM+Ph7dunUT+2/cuAFnZ+eKiZCInknXxk7o5eOMAp2AhTtipA6HiIiIiIoo9T5kQ4cOxc6dOxEdHY2+ffvCy8tL7N+1axfatGlTYUES0bOZ85wPcvN1+KBvE6lDISIiIqIiSlWQDRo0CLt27cKOHTsQFBSkt+IiAJibm+Ptt9+ukACJ6Nm525tj4+v8oQkRERGRsSn1PmQ9evRAjx49SuybO3duuQVERBUvNTMP9hZKqcMgIiIiqvFK9Q7Z5cuXMWzYMGg0mmJ96enpGD58OK5du1buwRFR+cov0GH+9mi0/3QvrqRkSB0OERERUY1XqoJs6dKlcHd3h7W1dbE+GxsbuLu7Y+nSpeUeHBGVL1MTOeLvZSFHq8O8v6L1Vk8lIiIiospXqoLs4MGDGDJkyGP7X3rpJezbt6/cgiKiijO3f1MoTeU4cuUu/o5KkjocIiIiohqt1BtDOzk5Pbbf0dERN2/eLLegiKjieDiY460u9QEAi3bEICsvX+KIiIiIiGquUhVkNjY2uHr16mP7r1y5UuLjjERknMZ3qY/atmZISM/Bmv1XpA6HiIiIqMYqVUHWuXNnrFq16rH9X3zxBTp16lRuQRFRxTJTmmBOfx8AwDeH4hB3N1PiiIiIiIhqplIVZDNnzsTff/+NF198ESdPnkR6ejrS09Nx4sQJDB48GLt378bMmTMrOlYiKkdBPs7o0qgWVKZyrrhIREREJJFS7UMWEBCA3377Da+//jr++OMPvT4HBwf8+uuvaNGiRYUESEQVQyaT4eMX/KAwkcHJSi11OEREREQ1Uqk3hn7uuedw48YNhISE4MqVKxAEAY0aNUJQUBDMzc0rMkYiqiC1bc2kDoGIiIioRivVI4txcXEAADMzMwwaNAjTpk3D9OnTMXDgwAotxgoKCvDhhx/Cy8sLZmZmqF+/PhYuXKi3d5IgCJgzZw5cXV1hZmaGnj174vLly3rnSU1NxYgRI2BtbQ1bW1uMGTMGGRn6j2idO3cOnTp1glqthru7O5YsWVJh90VkjPZfTMGP4delDoOIiIioRilVQVa/fn14eXnh9ddfx6ZNm3Dr1q2KjgsAsHjxYnz11VdYvXo1YmNjsXjxYixZskRvgZElS5bgiy++wNq1a3HixAlYWFggODgYOTk54pgRI0YgOjoaYWFh2LFjBw4dOoRx48aJ/RqNBkFBQfD09ERERASWLl2KefPmYd26dZVyn0RSO3U9Fa+tP4WFO2Nx4x4X+CAiIiKqLKUqyPbt24fRo0fj2rVrGDt2LDw9PdGwYUO8+eab+Pnnn5GcnFwhwR07dgwDBgxAv379ULduXbz44osICgrCyZMnATycHVuxYgVmz56NAQMGoFmzZti4cSMSEhKwbds2AEBsbCxCQkLw7bffom3btujYsSNWrVqFn3/+GQkJCQCAzZs3Iy8vD99//z2aNm2KoUOH4p133sHnn39eIfdFZGxaedqhQwMH5OXrsGB7jNThEBEREdUYpXqHrGvXrujatSsAICcnB8eOHcOBAwdw4MAB/PDDD9BqtfD29kZ0dHS5Bte+fXusW7cOly5dQqNGjfDPP//gyJEjYqEUFxeHpKQk9OzZU/yMjY0N2rZti/DwcAwdOhTh4eGwtbVFq1atxDE9e/aEXC7HiRMnMGjQIISHh6Nz585QKpXimODgYCxevBj379+HnZ1dsdhyc3ORm5srHms0GgCAVquFVqst1zwYojAGY4ilKqnJeZvdpzH6rwnH3gsp2B2VgO6Na5X6szU5b8+CeTMcc2cY5s0wzJthmDfDMXeGMaa8lSWGUi/qUUitVqN79+7o2LEjunXrhr///htff/01Lly4UNZTPdX7778PjUYDb29vmJiYoKCgAB999BFGjBgBAEhKSgIAODs7633O2dlZ7EtKSoKTk5Nev6mpKezt7fXGeHl5FTtHYV9JBdknn3yC+fPnF2sPDQ01qkVOwsLCpA6hSqqpeevsIse+BDlmbT2Dmf4FUJRqDv0/NTVvz4p5MxxzZxjmzTDMm2GYN8Mxd4YxhrxlZWWVemypC7K8vDwcP34c+/fvx4EDB3DixAm4u7ujc+fOWL16Nbp06WJQsE/y66+/YvPmzdiyZQuaNm2KyMhITJ48GW5ubhg9enS5X68sZs6cialTp4rHGo0G7u7uCAoKgrW1tYSRPaTVahEWFoZevXpBoVBIHU6VUdPz1jk3H71XHkXyg1zctGiMid3ql+pzNT1vhmLeDMfcGYZ5MwzzZhjmzXDMnWGMKW+FT8+VRqkKsu7du+PEiRPw8vJCly5d8Oabb2LLli1wdXU1OMjSmDZtGt5//30MHToUAODn54cbN27gk08+wejRo+Hi4gIASE5O1oslOTkZ/v7+AAAXFxekpKTonTc/Px+pqani511cXIq9B1d4XDjmUSqVCiqVqli7QqGQ/AtQlLHFU1XU1LzZKRT44DkfvPPTWaw9FIcR7erCybr0e5TV1Lw9K+bNcMydYZg3wzBvhmHeDMfcGcYY8laW65fqgaTDhw/DwcEB3bt3R48ePdCrV68KL8aAh1N9crl+iCYmJtDpdAAALy8vuLi4YO/evWK/RqPBiRMnEBgYCAAIDAxEWloaIiIixDH79u2DTqdD27ZtxTGHDh3Se9YzLCwMjRs3LvFxRaLqrH8zVwxuUQerhgWgllXxHzoQERERUfkpVUGWlpaGdevWwdzcHIsXL4abmxv8/PwwceJE/Pbbb7hz506FBNe/f3989NFH2LlzJ65fv44//vgDn3/+OQYNGgQAkMlkmDx5MhYtWoS//voL58+fx6hRo+Dm5oaBAwcCAJo0aYLevXtj7NixOHnyJI4ePYqJEydi6NChcHNzAwAMHz4cSqUSY8aMQXR0NH755ResXLlS75FEoppCJpNh2UvNEdTUBTKZTOpwiIiIiKq1Uj2yaGFhgd69e6N3794AgAcPHuDIkSPYv38/lixZghEjRqBhw4aIiooq1+BWrVqFDz/8EG+//TZSUlLg5uaGN998E3PmzBHHTJ8+HZmZmRg3bhzS0tLQsWNHhISEQK3+7zGrzZs3Y+LEiejRowfkcjkGDx6ML774Quy3sbFBaGgoJkyYgJYtW8LR0RFz5szR26uMqKZKzcyDhcoEKlMTqUMhIiIiqnbKvMoi8LBAs7e3h729Pezs7GBqaorY2Njyjg1WVlZYsWIFVqxY8dgxMpkMCxYswIIFCx47xt7eHlu2bHnitZo1a4bDhw8bGipRtfTH2VuY91cMxnWuhwndGkgdDhEREVG1U6qCTKfT4fTp0zhw4AD279+Po0ePIjMzE7Vr10a3bt2wZs0adOvWraJjJSIJpGdrsXrfFQwMqI3atmZSh0NERERUrZSqILO1tUVmZiZcXFzQrVs3LF++HF27dkX9+qVbEpuIqqaB/rWx5UQ8Tl2/j492xuDLES2lDomIiIioWilVQbZ06VJ069YNjRo1quh4iMiIyGQyzH/eF8+tOoxd55Nw5PJddGzoKHVYRERERNVGqVZZfPPNN1mMEdVQPm7WGBVYFwAw968o5OXrpA2IiIiIqBopVUFGRDXblF6N4GipxNU7mVh/NE7qcIiIiIiqDRZkRPRUNmYKzOjtDZns4TL4RERERFQ+DFr2nohqnsEt6qC5uy0aOVtJHQoRERFRtcEZMiIqFblcxmKMiIiIqJyxICOiMrt6JwMf/HEe2gIu8EFERET0LPjIIhGVSV6+DsO/OY5kTS68HC3wRqd6UodEREREVGVxhoyIykRpKseUng+3wVix5zJSNDkSR0RERERUdbEgI6Iye6mVO5q72yIjNx8f74rFibhURNyV4URcKgp0gtThEREREVUZLMiIqMzkchkWPN8UALAtMgEjvz+NjZdNMPL70+i4eB9CohIljpCIiIioamBBRkQGSUzPLrE9KT0H4zedYVFGREREVAosyIiozAp0AuZvjymxr/CBxfnbY/j4IhEREdFTsCAjojI7GZeKxPTHL+YhAEhMz8HJuNTKC4qIiIioCmJBRkRllvKgdCsrlnYcERERUU3FgoyIyszJSl3KcaoKjoSIiIioamNBRkRl1sbLHq42asieMu6LvZcRfy+rUmIiIiIiqopYkBFRmZnIZZjb3wcAihVlhccKExnCr6UieMUhrD8aBx0X+CAiIiIqhgUZERmkt68rvhrZAi42+o8vutiosXZkC4RN6YK2XvbI1hZg/vYYvPR1OFIz8ySKloiIiMg4mUodABFVXb19XdHLxwXhV1IQevgEgjq1RWADJ5jIH86T/TS2HTafjMenu2KRrxNgY6aQOGIiIiIi48KCjIieiYlchrZe9rgXK6Ctl71YjAGAXC7DK+080a1xLeQXCGJfjrYAN1Oz0NDZSqqwiYiIiIwCH1kkogpXx84cdR0txOPlYZfQ94vD+GLvZWgLdBJGRkRERCQtFmREVKl0OgHX72VCWyDg87BLeH71UUTdTpc6LCIiIiJJsCAjokoll8uwdmRLrBzqD1tzBWITNRiw5ig+230RufkFUodHREREVKlYkBFRpZPJZBjgXxthU7qgn58rCnQCVu+/gue+OIILSRqpwyMiIiKqNCzIiEgytaxUWDOiBb4a0QKOlkokpufAWs2VGImIiKjm4CqLRCS5Pn6uaFfPAbGJGrjZmontcXcz4VVkMRAiIiKi6oYzZERkFOwslGjfwFE8PnjpDrovO4B5f0UjMzdfwsiIiIiIKg4LMiIySqevp0IQgA3HriN4xSEcvXJX6pCIiIiIyh0LMiIySu8FNcaPY9qgtq0Zbt3PxohvT2Dm7+ehydFKHRoRERFRuWFBRkRGq1PDWtg9pTNGBXoCAH46GY/g5Ydw+PIdiSMjIiIiKh8syIjIqFmqTLFggC9+GdcOdR3MkZieg4wcvlNGRERE1QNXWSSiKqFtPQf8/W5n7DyfiD5+rmJ7iiYHTtZqCSMjIiIiMhxnyIioyjBTmuDFlnXE43sZuei98jAmbDmDuxm5EkZGREREZBgWZERUZYVfu4f0bC12nktE0PJD+OufBAiCIHVYRERERKXGgoyIqqznmrnhzwkd4O1ihdTMPLzz01mM+zECKZocqUMjIiIiKhUWZERUpfnWtsFfEztiSs9GUJjIEBaTjJ6fH8RvEbekDo2IiIjoqViQEVGVpzSV492eDbF9Ukc0q2MDTU4+Im7clzosIiIioqfiKotEVG14u1jj9/Ht8ePxG3qLf2hytLBUmkIul0kYHREREVFxLMiIqFoxNZHjtQ5e4rEgCHh70xkU6AQsHtwMHg7mEkZHREREpM/oH1m8ffs2Ro4cCQcHB5iZmcHPzw+nT58W+wVBwJw5c+Dq6gozMzP07NkTly9f1jtHamoqRowYAWtra9ja2mLMmDHIyMjQG3Pu3Dl06tQJarUa7u7uWLJkSaXcHxFVrCspGTh9IxXh1+4heMUhrD8aB52OKzESERGRcTDqguz+/fvo0KEDFAoF/v77b8TExGDZsmWws7MTxyxZsgRffPEF1q5dixMnTsDCwgLBwcHIyflvlbURI0YgOjoaYWFh2LFjBw4dOoRx48aJ/RqNBkFBQfD09ERERASWLl2KefPmYd26dZV6v0RU/ho6W2H35M5oV88e2doCzN8eg5e+DsfVOxlP/zARERFRBTPqRxYXL14Md3d3rF+/Xmzz8tJ/FGnFihWYPXs2BgwYAADYuHEjnJ2dsW3bNgwdOhSxsbEICQnBqVOn0KpVKwDAqlWr0LdvX3z22Wdwc3PD5s2bkZeXh++//x5KpRJNmzZFZGQkPv/8c73CjYiqJk8HC2x5ox22nIzHJ7ticfrGffRdeRhTezXCmI5eMDUx6p9NERERUTVm1AXZX3/9heDgYAwZMgQHDx5E7dq18fbbb2Ps2LEAgLi4OCQlJaFnz57iZ2xsbNC2bVuEh4dj6NChCA8Ph62trViMAUDPnj0hl8tx4sQJDBo0COHh4ejcuTOUSqU4Jjg4GIsXL8b9+/f1ZuQK5ebmIjc3VzzWaDQAAK1WC61WW+65KKvCGIwhlqqEeTNMVcnbyy3d0LG+HWb/GYMjV+7h19M3MaJ1bagUJpLEU1XyZoyYO8Mwb4Zh3gzDvBmOuTOMMeWtLDEYdUF27do1fPXVV5g6dSpmzZqFU6dO4Z133oFSqcTo0aORlJQEAHB2dtb7nLOzs9iXlJQEJycnvX5TU1PY29vrjSk681b0nElJSSUWZJ988gnmz59frD00NBTm5sazaEBYWJjUIVRJzJthqkreXnQE3AUZXMzSsTdsNwCgQAAgAFJMllWVvBkj5s4wzJthmDfDMG+GY+4MYwx5y8rKKvVYoy7IdDodWrVqhY8//hgAEBAQgKioKKxduxajR4+WNLaZM2di6tSp4rFGo4G7uzuCgoJgbW0tYWQPabVahIWFoVevXlAoFFKHU2Uwb4apinnr98jxusNx2HEuCZ8MaoqmbpXzd7gq5s1YMHeGYd4Mw7wZhnkzHHNnGGPKW+HTc6Vh1AWZq6srfHx89NqaNGmC//3vfwAAFxcXAEBycjJcXV3FMcnJyfD39xfHpKSk6J0jPz8fqamp4uddXFyQnJysN6bwuHDMo1QqFVQqVbF2hUIh+RegKGOLp6pg3gxTVfOWoy3Aj8dvIkmTg8Ffn8D4LvUxqUcDqEwr51HGqpo3Y8DcGYZ5MwzzZhjmzXDMnWGMIW9lub5Rv8neoUMHXLx4Ua/t0qVL8PT0BPBwgQ8XFxfs3btX7NdoNDhx4gQCAwMBAIGBgUhLS0NERIQ4Zt++fdDpdGjbtq045tChQ3rPeoaFhaFx48YlPq5IRNWLWmGC7ZM6op+fKwp0Albvv4LnvjiCs/H3pQ6NiIiIqjmjLsimTJmC48eP4+OPP8aVK1ewZcsWrFu3DhMmTAAAyGQyTJ48GYsWLcJff/2F8+fPY9SoUXBzc8PAgQMBPJxR6927N8aOHYuTJ0/i6NGjmDhxIoYOHQo3NzcAwPDhw6FUKjFmzBhER0fjl19+wcqVK/UeSSSi6q2WlQprRrTAVyNawNFSicspGRj81TF8vCsWOdoCqcMjIiKiasqoC7LWrVvjjz/+wE8//QRfX18sXLgQK1aswIgRI8Qx06dPx6RJkzBu3Di0bt0aGRkZCAkJgVqtFsds3rwZ3t7e6NGjB/r27YuOHTvq7TFmY2OD0NBQxMXFoWXLlnjvvfcwZ84cLnlPVAP18XNF2JQuGBRQGzoB2HD0Om7dL/2LuURERERlYdTvkAHAc889h+eee+6x/TKZDAsWLMCCBQseO8be3h5btmx54nWaNWuGw4cPGxwnEVUfdhZKLH/ZH881c0VCeg4aOFmJffkFOu5bRkREROWG/6ogInqMHk2c8Uo7T/H4n5tp6Pn5QRy9clfCqIiIiKg6YUFGRFRKK/dexvV7WRjx7QnM/P08NDnSbzxJREREVRsLMiKiUvpiWABGBT6cMfvpZDyClx/C/gspT/kUERER0eOxICMiKiVLlSkWDPDFL+Paoa6DORLTc/DahlOY+msk0rLypA6PiIiIqiAWZEREZdS2ngP+frcz3ujoBZkM+P3MbYREJUkdFhEREVVBRr/KIhGRMTJTmmD2cz7o28wVW0/fwkut3MU+QRAgk8kkjI6IiIiqCs6QERE9gxYedvjkBT/I5Q8LsIzcfAxYcxR//ZMAQRAkjo6IiIiMHQsyIqJytOFoHM7dSsc7P53FuB8jkKLJkTokIiIiMmIsyIiIytG4zvUxpWcjKExkCItJRs/PD2Lr6ZucLSMiIqISsSAjIipHSlM53u3ZENsndYRfbRtocvIx7bdzeHX9KdxOyxbHFegEnIhLRcRdGU7EpaJAx4KNiIioJmJBRkRUAbxdrPHH2+0xo7c3lKZyHLx0B5/tvggACIlKRMfF+zDy+9PYeNkEI78/jY6L9yEkKlHiqImIiKiysSAjIqogpiZyjO9aH7ve6YTu3k6Y2dcbIVGJGL/pDBLT9d8tS0rPwfhNZ1iUERER1TAsyIiIKlgDJ0t8/2prOFioMH97DEp6OLGwbf72GD6+SEREVIOwICMiqiQn41KLzYwVJQBITM/BybjUyguKiIiIJMWCjIiokqQ8KN0S+KUdR0RERFUfCzIiokriZKUu1bgcbUEFR0JERETGggUZEVElaeNlD1cbNWRPGGMiAwYF1BGPr97JQH6BruKDIyIiIkmwICMiqiQmchnm9vcBgGJFmezfX4sG+UJp+vD/Nefl6zB03XF0WrIfa/Zfwd2M3EqNl4iIiCoeCzIiokrU29cVX41sARcb/ccXXWzU+GpkCwxr4ym2XbubgQKdgMT0HCzdfRHtP9mHKb9E4mz8fQgCV2IkIiKqDkylDoCIqKbp7euKXj4uCL+SgtDDJxDUqS0CGzjBRK4/b+btYo1j73fHrvOJ+CH8Bv65mYY/zt7GH2dvo1kdG8x5zget6tpLdBdERERUHliQERFJwEQuQ1sve9yLFdDWy75YMVZIrTDBCy3q4IUWdRB5Mw0bw69jxz+JOHcrHWZKE3GcTidA/phzEBERkfFiQUZEVEX4u9vC390fH/Rtgn0XUtDUzUbsm/n7edzPysPo9nXRvr4DZDIWZ0RERFUBCzIioirGwVKFIa3cxeMHOVpsi7yN3HwdQmOSUb+WBUYF1sULLWrDSq2QMFIiIiJ6Gi7qQURUxVmpFdj5TkeMCvSEhdIEV+9kYu5f0Wj38V7M+TMKV1IypA6RiIiIHoMFGRFRNdDAyQoLBvji+KweWDCgKerXskBmXgE2ht9ASFSi1OERERHRY/CRRSKiasRKrcCowLp4pZ0njl29hx/Db+Dl1h5i/4GLKYhO0GBoa3c4WKokjJSIiIgAFmRERNWSTCZDhwaO6NDAUa997cGrOH4tFSv3Xkb/Zm4Y3d4TzerYShMkERERsSAjIqopBEHAkJbuyMorwLlb6fjfmVv435lb8He3xej2nujr5wqVqcnTT0RERETlhgUZEVENIZPJMLhlHQxu+e+eZseuY8e5RETeTEPkL2nY/k8ivn+1tdRhEhER1Shc1IOIqAbyd7fF5y/749jM7pgW3BiuNmoM8HcT+9OztDh25S4EQZAwSiIiouqPM2RERDWYo6UKE7o1wJud6+m1/3r6Jj7aFYuGTpYYFeiJQS3qwFLF/2QQERGVN86QERERTE3kMDX57z8JOdoCmCtNcDklAx/++XBPs3l/RePqHe5pRkREVJ5YkBERUTGTejTE8Vk9MLe/D+o5WiAjNx8bjl1Hj2UH8dr6k9Dp+CgjERFReWBBRkREJbJWK/BaBy/smdoFG19vg55NnCGTPdzrTC6XieMe5GgljJKIiKhq4wsBRET0RHK5DJ0b1ULnRrVwMzULuiILfVxJeYB+XxxB/+ZueLV9XfjWtpEwUiIioqqHBRkREZWau7253vHu6GTk5uvwW8Qt/BZxCy08bDG6fV308XWF0pQPYRARET0NCzIiIjLY213ro109B2wMv45d5xNxJj4NZ+IjsdAyFsPauGNc53qwUiukDpOIiMho8ceXRERkMJlMhpaedlg5NABH3++Oqb0awdlahbsZudh8Ih4KE/5nhoiI6Ek4Q0ZEROXCyUqNd3o0xPiu9REWk4yMnHyoFSYAAJ1OwLgfI9DNuxYG+teGBfc0IyIiAsCCjIiIypnCRI6+fq56bYcu38Ge2GTsiU3Gp7su4MVWdfBKO0/Uq2UpUZRERETGgc+SEBFRhQvwsMOc53zg5WiBB7n5WH/0OrovO4hR35/E3thkFHBfMyIiqqGqVEH26aefQiaTYfLkyWJbTk4OJkyYAAcHB1haWmLw4MFITk7W+1x8fDz69esHc3NzODk5Ydq0acjPz9cbc+DAAbRo0QIqlQoNGjTAhg0bKuGOiIhqBhszBV7v6IW9U7vgh9fboIe3E2Qy4NClOxjzw2mcib8vdYhERESSqDIF2alTp/D111+jWbNmeu1TpkzB9u3bsXXrVhw8eBAJCQl44YUXxP6CggL069cPeXl5OHbsGH744Qds2LABc+bMEcfExcWhX79+6NatGyIjIzF58mS88cYb2L17d6XdHxFRTSCXy9ClUS1892prHPy/bhjXuR7aetmjlaedOGb7PwmIup3+2HMU6ASciEtFxF0ZTsSlcnaNiIiqtCrxDllGRgZGjBiBb775BosWLRLb09PT8d1332HLli3o3r07AGD9+vVo0qQJjh8/jnbt2iE0NBQxMTHYs2cPnJ2d4e/vj4ULF2LGjBmYN28elEol1q5dCy8vLyxbtgwA0KRJExw5cgTLly9HcHCwJPdMRFTdeTiYY1bfJhAEATKZDACQmZuPWb+fx4PcfLTytMMrgZ56e5qFRCVi/vYYJKbnADDBxsun4Wqjxtz+Pujt6/qEqxERERmnKlGQTZgwAf369UPPnj31CrKIiAhotVr07NlTbPP29oaHhwfCw8PRrl07hIeHw8/PD87OzuKY4OBgjB8/HtHR0QgICEB4eLjeOQrHFH008lG5ubnIzc0VjzUaDQBAq9VCq9U+6y0/s8IYjCGWqoR5MwzzZhjmrbj7GTno0sgRIdHJOH3jPk7fuI+FljEY2qoOXG3UmP1nDB6dD0tKz8H4TWewamhzBDd1LvG89BC/c4Zh3gzDvBmOuTOMMeWtLDEYfUH2888/48yZMzh16lSxvqSkJCiVStja2uq1Ozs7IykpSRxTtBgr7C/se9IYjUaD7OxsmJmZFbv2J598gvnz5xdrDw0Nhbm5eelvsIKFhYVJHUKVxLwZhnkzDPOmr5cl0CYACE+W4WiyHHcz8rD6wDVALMVkeuOFf//v7N8job1eALl+N5WA3znDMG+GYd4Mx9wZxhjylpWVVeqxRl2Q3bx5E++++y7CwsKgVqulDkfPzJkzMXXqVPFYo9HA3d0dQUFBsLa2ljCyh7RaLcLCwtCrVy8oFAqpw6kymDfDMG+GYd6ebBgAbYEOYTEpWHPwKi4lZz5htAxpeUAtn3Zo62VfWSFWOfzOGYZ5MwzzZjjmzjDGlLfCp+dKw6gLsoiICKSkpKBFixZiW0FBAQ4dOoTVq1dj9+7dyMvLQ1pamt4sWXJyMlxcXAAALi4uOHnypN55C1dhLDrm0ZUZk5OTYW1tXeLsGACoVCqoVKpi7QqFQvIvQFHGFk9VwbwZhnkzDPP2eAoFMKCFOyCX492fI586ftOJW8gtAPzq2MDJyrh+kGdM+J0zDPNmGObNcMydYYwhb2W5vlGvstijRw+cP38ekZGR4q9WrVphxIgR4u8VCgX27t0rfubixYuIj49HYGAgACAwMBDnz59HSkqKOCYsLAzW1tbw8fERxxQ9R+GYwnMQEZG0SltchUQnYcwPp9F16QG91RcvJGmQmplXUeEREREZzKhnyKysrODr66vXZmFhAQcHB7F9zJgxmDp1Kuzt7WFtbY1JkyYhMDAQ7dq1AwAEBQXBx8cHr7zyCpYsWYKkpCTMnj0bEyZMEGe43nrrLaxevRrTp0/H66+/jn379uHXX3/Fzp07K/eGiYioRG287OFqo0ZSek6xRT0KWatN0aOJE6Jua2BvoYRJkZfJ3t58BtfuZKKOnRma1bGBX21bNKtjA9/aNrAx40+fiYhIOkZdkJXG8uXLIZfLMXjwYOTm5iI4OBhffvml2G9iYoIdO3Zg/PjxCAwMhIWFBUaPHo0FCxaIY7y8vLBz505MmTIFK1euRJ06dfDtt99yyXsiIiNhIpdhbn8fjN90BjJArygrLLuWvNhMXPq+6OxYXr5O/P2t+9m4dT8bu84niW09vJ3w3autxeMcbQHUCpOKuA0iIqJiqlxBduDAAb1jtVqNNWvWYM2aNY/9jKenJ3bt2vXE83bt2hVnz54tjxCJiKgC9PZ1xVcjWxTZh+whlxL2ISs6O6Y0lWPfe12hydEi6nY6zt9Kx7l//zc+NQv2FkpxrLZAh4AFYahtZ4ZmtW3gV8cGzerYwsfVGmZKFmlERFT+qlxBRkRENVdvX1f08nFB+JUUhB4+gaBObRHYwEmvAHsca7UC7es7on19R7HtfmYecvILxONrdzKRrS3AlZQMXEnJwO9nbwN4WOA1dLLE8LYeGBVYt9zvi4iIai4WZEREVKWYyGVo62WPe7EC2nrZl6oYexy7IrNjANDYxQonP+iBqNvpOHfr4SzaP7fScTcjFxeSHkCT/d9Gn7fTsvHmj6fF99H8atugsYsVFCZGvV4WEREZGRZkRERERThZqdHdW43u3s4AAEEQkKzJxblbaWjgZCmOO3czDVG3NYi6rcFP/+6uojSVw8fVGn61bfBiyzpo7m4rwR0QEVFVwoKMiIjoCWQyGVxs1HCxcdFrb+Nlj69GtMC52+k4dysN526l40FOPiJvpiHyZhraeNmLBdn5W+n44+zthzNpdWzg5WAB+TPM7BERUfXBgoyIiMgADpYq9PFzRR+/h4uJCIKAG/ey/l0wJA0tPO3EsUev3sX3R+PEY0uVKXxrW6NZHVv41bZB54a1YGPO5feJiGoiFmRERETlQCaToa6jBeo6WuD55m56fQHutni1fV2cv52O6IR0ZOTm4/i1VBy/lgoA+GtiBzQztwUARN5MQ2JaNvzq2KC2rRlkMs6kERFVZyzIiIiIKljbeg5oW88BAJBfoMOVOxnioiHRCelo7GIljv3lVDx+OnkTAOBgoXy49H5tG/jVebh4iLO12qAYCnQCTsSlIuKuDA5xqaVenZKIiCoWCzIiIqJKZGoih7eLNbxdrPFSK/di/XXszNHUzRoXkx7gXmYeDly8gwMX74j9/8wJEh9vvHonAzZmCjhaqp54zZCoxCL7t5lg4+XTcC1h/zYiIqp8LMiIiIiMyIRuDTChWwPkaAtwIemBuGDI+Vvp0Bbo9N41m/1HFMKv3UNtWzP4iRtZP1yC39b84ZL+IVGJGL/pDIRHrpOUnoPxm87gq5EtWJQREUmIBRkREZERUitM4O9uC/8iS+drC3R6Y7K1BZDJHu6JdjstGyHRSWJf8zo2+P3tDpi/PaZYMQYAAgAZgPnbY9DLx4WPLxIRSYQFGRERURXx6KbT2yZ0wIMcLaITNDh/K11c4fH6vSxYmylwMi7138cUSyYASEzPwcm4VATWd6jg6ImIqCQsyIiIiKowK7UC7eo5oF29/wqq9Cwt0rO1OHvzfqnO8e2Ra3oFmSAIXN2RiKiSsCAjIiKqZmzMFbAxV+B2WnapxhctvbLzCtBh8T40draCj5s1mrpZo6mbDerXsoDpIzN0RET07FiQERERVVNtvOzhaqNGUnpOie+RyQDYWygxtVdjsS02SYPUzDyEX7uH8Gv3xHalqRzeLlYY2c6zxNUhiYjIMCzIiIiIqikTuQxz+/tg/KYzkAF6RVnhrNhHg3zh42Yttvu62WDHpI6ISdQgJkGD6IR0xCRokJlXgHO30qHJ1opjLyc/wFubItDUzUacSfNxs4a9hbJS7o+IqDpgQUZERFSN9fZ1xVcjWxTZh+whl8fsQ6Y0lcO3tg18a9uIbTqdgPjULEQnaNC0SPEWlZCOq3cycfVOJv76J0Fsd7VRo6mbNcZ0rMfFQoiInoIFGRERUTXX29cVvXxcEH4lBaGHTyCoU1sENnAq9VL3crkMdR0tUNfRQq+9W2MnrH+ttd5M2vV7WUhMz0Fieg6GtvYQxx66dAdfHbiKpm7W/76bxvfSiIgAFmREREQ1golchrZe9rgXK6Ctl3257Dtma65Et8ZO6NbYSWx7kKNFbOIDRCekI8DDVmw/E3+/2Htpqn/fS/Nxs8a4zvXh9UjBR0RUE7AgIyIionJjpVagjZc92njZ67UP9K8NNxszxCTqv5f2z610/HMrHWM6eolj/xdxCwcu3fn3vbSHs2l8L42IqisWZERERFThHn3kUacTcCM1CzEJGsQmauDlaCn2HblyF9v/ScD2Et5L83GzwZiOXrAxU1Rq/EREFYUFGREREVU6uVwGL0cLeDlaoF8z/YVFRrT1QAMnS/HdtKLvpe2/eAdvd60vjv3+SBxup2WL76Y1qGXJ99KIqEphQUZERERGpVVde7Sq+98jjxm5+YhN1CD6djruZORCrTAR+/76JwGRN9PE48L90nxcHz7uOLKdJ2Qyw9+XK9AJOBGXioi7MjjEpZZpMRQiotJgQUZERERGzVJlitZ17dG6rn2xvtc61MXZ+DTEJGgQk6hBRm4+zt1Kx7lb6ahta4ZXAuuKY9fsvwITuazU76WFRCUW2S7ABBsvn4brY7YLICIyFAsyIiIiqrIG+NfGAP/aAP7bL61w4RCV6X8zaYIg4NvD13A/67+NrV2s1eLCIS087dC1yGqRIVGJGL/pjN5m2gCQlJ6D8ZvO4KuRLViUEVG5YEFGRERE1ULR/dL6+ukXS/k6AW90qqf3XlqSJgdJmhzsvZCC9vUdxIKsQCfg/7aeK1aMAYAAQAZg/vYY9PJx4eOLRPTMWJARERFRtacwkWNCtwbicdH30qITNGjiai327b+Qgozc/MeeSwCQmJ6Dk3GpCKzvUJFhE1ENwIKMiIiIapwnvZeWpMkp1TlSHuQgKy8f0347hwa1LNHQ2RINnCzh5Wih97gkEdGTsCAjIiIiKqJ+LcunDwLgZKXG1ZRM7DyXqNduIpfB094c9Z0sMbhFbb5rRkRPxIKMiIiIqIg2XvZwtVEjKT2nxPfIZABcbNRo42WPOw9y8UHfJric8gCXUzJwJSUDD3Lyce1uJq7dzUSbIjNwl5If4LX1p9DAyRINnf6bUWtQywo25tzomqimYkFGREREVISJXIa5/X0wftMZyAC9oqxwCY+5/X1gIpfBxUaNsZ3rif2CICDlQS4uJ2fgSsoDtCvyjtml5Ae4nZaN22nZOHjpjt41a1mp8EHfJhgY8HDFyKy8fGTmFsDRUvlM+6gRkfFjQUZERET0iN6+rvhqZIsi+5A95PKUfchkMhmcrdVwtlajY0NHvb6ujZ2w9a3Af4u1DFxOeYArKRlITM/BnQe5MFP+997Z4ct38eaPEbA1V4jvp9WvZYmGzlZo4GQJNxs1CzWiaoIFGREREVEJevu6opePC8KvpCD08AkEdWqLwAZOBi91/7iFRB7kaHH1Tia8HCzEtqT0HMhkQFqWFqdv3MfpG/f1PrN6eACea+YGALhxLxOXkjPQ0MkS7vbmXIqfqIphQUZERET0GCZyGdp62eNerIC2XvYVUuxYqRXwd7fVaxvdvi5ebu2Oa3cycTnlAa6mZIjvqMXdzURDJytxbGh0Mj7aFQsAUJrKUc/R4t/31KzQ0NkSHeo78h01IiPGgoyIiIjICKkVJvBxs4aPm7Veu7ZAB5MijytaqEzh42qNq3cykJuvw4WkB7iQ9ADAw9Ufd0zqCBtzGwAP91g7fSNVLNjq17LUe1SSiCofCzIiIiKiKkRhItc7Ht7WA8PbeqBAJ+D2/WxcufOgyHtqGahX679HIffEJmPziXjxWCYDatua/bvqoxXe7FwPDpaqZ46xQCfgRFwqIu7K4BCX+kyPehJVdyzIiIiIiKoBE7kMHg7m8HAwR3dv5xLHdGroCAHAlX8ff0zNzMOt+9m4dT8b+y/ewYRuDcSxK/ZcwqnrqWhQyxINnK3ExUUcLJ688mNIVGKRxVBMsPHyabg+ZTEUopqMBRkRERFRDdHb11WvKLqXkSvOpCWmZ8PG7L93zSJu3MfRK/dw9Mo9vXPYmivQ0MkSG19vKz7umJGbDwulCXZHJ2H8pjPF9m9LSs/B+E1n8NXIFizKiB7BgoyIiIiohnKwVMHBUoW29RyK9c3o7Y3+zTXibNrllAe4dT8baVlaXEnJ0Hv3bNKWMzgZl4q8Al2Jm2kLeLiH2/ztMejl48LHF4mKYEFGRERERMX41raBb20bvbbsvAJcvfPwUceirt/LQmZewRPPJwBITM/BRztj4GZrhtq2ZnC1NYObrRqOFirIWaRRDcWCjIiIiIhKxUxpUqxIA4Ddkztj/dE4fPL3haeeY8e5RKQ8yNVrU5rI4WKjho+rNda+0lJsPxt/H2ZKE7jZmsFazaX7qXpiQUZEREREz0RpKkezOralGtuhgQPyCgQkpmUjIS0HKQ9ykFegQ3xqFqzN9P9p+t6v/+Da3UwADzfWdrNVw9XGDG7/rgz5ekcvcWyBTuCjkFQlsSAjIiIiomfWxsserjZqJKXnlPgemQyAi40anw3x1yuctAU6JGtykJieA51O/5N2FkrYZuUhLUuLjNx8XErOwKXkDACAX20bvYIsaPlBpGfno3aRos3NVg03WzN42JuXOLNHZAyMviD75JNP8Pvvv+PChQswMzND+/btsXjxYjRu3Fgck5OTg/feew8///wzcnNzERwcjC+//BLOzv8t+RofH4/x48dj//79sLS0xOjRo/HJJ5/A1PS/FBw4cABTp05FdHQ03N3dMXv2bLz66quVebtEREREVZKJXIa5/X0wftMZyAC9oqyw/Jrb36fYLJbCRI46duaoY2de7Jz/G98eAJCVl4+EtBwkpmcj4d+ZNXsLpThOEATcTstGjlaHuxm5+OdWut55/GrbYPukjuLxuz+fhQyA27/vsRUt4qzVpk9c1p+ovBl9QXbw4EFMmDABrVu3Rn5+PmbNmoWgoCDExMTAwuLhRodTpkzBzp07sXXrVtjY2GDixIl44YUXcPToUQBAQUEB+vXrBxcXFxw7dgyJiYkYNWoUFAoFPv74YwBAXFwc+vXrh7feegubN2/G3r178cYbb8DV1RXBwcGS3T8RERFRVdHb1xVfjWxRZB+yh1yecR8yc6UpGjhZooGT5WPHHHu/x7/FWjYS03Me/j49B4lp2WjobCWOEwQBIVFJyM3XlXie1nXtsPWt9uLxD8euw0JlCjcbNVxtzeBqo4ZaYVLiZ8sDN9WueYy+IAsJCdE73rBhA5ycnBAREYHOnTsjPT0d3333HbZs2YLu3bsDANavX48mTZrg+PHjaNeuHUJDQxETE4M9e/bA2dkZ/v7+WLhwIWbMmIF58+ZBqVRi7dq18PLywrJlywAATZo0wZEjR7B8+XIWZERERESl1NvXFb18XBB+JQWhh08gqFPbCi8qZDIZ7C2UsLdQPvXRRJ0ALB3S/GHhlpaN20Vm3u5naWFnrj/z9vGu2GLFm4OFEm62Zgis74BZfZuI7VG30+FoqUItK5VB98tNtWsmoy/IHpWe/nAK2t7eHgAQEREBrVaLnj17imO8vb3h4eGB8PBwtGvXDuHh4fDz89N7hDE4OBjjx49HdHQ0AgICEB4erneOwjGTJ08uMY7c3Fzk5v63QpBGowEAaLVaaLXacrnXZ1EYgzHEUpUwb4Zh3gzDvBmOuTMM82YY5s0wLepY4Z6jgBZ1rKAryIfuyaviV6o+PrVKbM/OK0CWtkD8s87VFuD55q7/zrg9LNyytTrcy8zDvcw8uFirxLGCIGDwV8eQm6+DqVwGZ2sVXG3U4i9fN2v08XV5bEy7o5Mx6ed/Hrup9qqhzRHc1LnEz9JDxvR3tSwxVKmCTKf7//buPCqq8+4D+HcYmGHYN9nCEnBBUEBRX0FKokJEX2uIS7SRWgzaxJxRxBxNNEaNWnBpo4lKSWxysDWiIWlRi/rquCFmEU3FiBJEg9GoaKogm7LN8/6BTBxZncTcGfP9nEPt3PvcO19+To78eO59rhbJycmIjIxE3759AQBlZWVQKBRwcHDQG+vm5oaysjLdmPubsZb9Lfs6GlNZWYk7d+5ApVLp7VuxYgWWLl3aKuO+fftgZdX6GmipaDQaqSOYJNbNMKybYVg3w7F2hmHdDMO6GcbU6/YbBYBuzV9CALWNQEU9UF4ng8rsKnbvvgoAuNMIWJnJ0QCgUQtcqbiLKxU/XrYZ7KiFuNQ80yYE8OYJOawtAAeFgIMCKLglu9eM6c+siXv/++a/CtBwsQm8erFzxvCZq62t7fJYk2rI1Go1CgsLcfToUamjYMGCBXj11Vd1rysrK+Ht7Y0RI0bAzs5OwmTNGhoaoNFo8Mwzz8DCgs/t6CrWzTCsm2FYN8OxdoZh3QzDuhnm11i38c823wN2o6oOZbebV468eu/P3u42+N8BXgCAWzX1qP7yMKobget3utJhyVBRD2TfdENvd1s4WyvgbK2Ak40CPo5W8HU2nskAKRnTZ67l6rmuMJmGbObMmcjJycGRI0fg5eWl2+7u7o76+npUVFTozZJdv34d7u7uujH5+fl657t+/bpuX8ufLdvuH2NnZ9dqdgwAlEollEplq+0WFhaSfwDuZ2x5TAXrZhjWzTCsm+FYO8OwboZh3Qzza6ubBQAfpQI+LrbtjnGxM8ehuUPv3cN2B4e+uYHdhWWdnvtIyU0cKbmpt210sAfS4sMAAFqtwKh38+BgZQEXGyWcbRS6P52tlXjSxQq93aWfOHjUjOEz9zDvb/QNmRACs2bNQnZ2Ng4fPgw/Pz+9/QMGDICFhQUOHDiA8ePHAwCKi4tx6dIlREREAAAiIiKQkpKCGzduwNXVFUDzVKadnR2CgoJ0Y3bv3q13bo1GozsHEREREdHPQW4mg5+LNfxcmlcM93K06lJDNmmQN6wUctysrsfNmjrcrK7Hky4/zo7dvtOA4utV7R7/YPP21J8PwdFKoWvYXGwVcLFubuC6d7NBqLfDT/tGqUuMviFTq9XIzMzEjh07YGtrq7vny97eHiqVCvb29pg2bRpeffVVODk5wc7ODrNmzUJERATCw8MBACNGjEBQUBCmTJmC1atXo6ysDG+++SbUarVulmvGjBnYsGEDXnvtNSQmJuLgwYPIysrCrl27JPveiYiIiOjx19WHaqeODe5w9UYrpRyZfxzc3LBV1+G/9xq3/9573eu+5f8r7jTg+/I7+L78TpvnGh3igbTJzc1bk1bgf1L2w8HKAs42Srjca+CcbRRwtlGil6sNBvs7644VQvziz3Iz5ccFGH1Dlp6eDgAYOnSo3vaMjAzdQ5vXrl0LMzMzjB8/Xu/B0C3kcjlycnLwyiuvICIiAtbW1khISMCyZct0Y/z8/LBr1y7MmTMH7777Lry8vPDBBx9wyXsiIiIieqQMfaj2g5Tmcgzp7tKl97RRmmO7OhI3q5tn2v57b8btZnUdbtbUo6/nj48PqKit160seeGHmlbn+m2Ih64ha9IK9Fnyf3ozb7pLJ60VCPSww1O9flzlsr5RC4W5WZcyt8fUHxdg9A2ZEG39nkCfpaUl0tLSkJaW1u4YX1/fVpckPmjo0KE4efLkQ2ckIiIiIvopHtVDtdujMDdDvy5ekmivsoBmzlO6GTfdDFxN85/9fRx1Y8tr63G3QYtr9xYzedCYUE9dQ9bYpEXvRXtgozRv8563vk/Y45mgH1dBv32nAXaW5nqzb/9XeA2vfPSfdh8XkP77MKNvyoy+ISMiIiIi+jWQ4qHaXWEuN0NPN1v07MJj0BytFPhs/nDdzNsP1fozb2G+9zdvDdAKoPJuIyrvNuLb/+rPvj0b6qlryBqbtAhdug/mZjK9mbcTF2+1eZmnQPPs4tJ/n8UzQe6S17AjbMiIiIiIiIyE3EyGwX5OuFkkMNjPyagbibbIzWR4wkGFJxxar1L+IBcbBQoWP6O7x+3Be95CvRx0Y8trmx+03KgVuF5Zh+uVdZ2eXwC4dvsu8ktvIaK7c6fjpcKGjIiIiIiIfnEymQwOVgo4WCnQw9Wmw7HdbJX4ZvlI3Kqp193ztv/sdWw5dqnT97lR1frSSWPChoyIiIiIiIyepYUcng4qeN6bfbM0l3epIXO1tXzU0X6Sn7akCRERERERkQRaHhfQ3kWdMgAe9pb4Hz+nXzLWQ2NDRkREREREJqflcQEAWjVlD/O4AKmxISMiIiIiIpPU8rgAd3v9yxLd7S1NYsl7gPeQERERERGRCTPWxwV0FRsyIiIiIiIyaab8uABeskhERERERCQRNmREREREREQSYUNGREREREQkETZkREREREREEmFDRkREREREJBE2ZERERERERBJhQ0ZERERERCQRNmREREREREQSYUNGREREREQkETZkREREREREEmFDRkREREREJBE2ZERERERERBJhQ0ZERERERCQRc6kDPC6EEACAyspKiZM0a2hoQG1tLSorK2FhYSF1HJPBuhmGdTMM62Y41s4wrJthWDfDsG6GY+0MY0x1a+kJWnqEjrAh+5lUVVUBALy9vSVOQkRERERExqCqqgr29vYdjpGJrrRt1CmtVourV6/C1tYWMplM6jiorKyEt7c3Ll++DDs7O6njmAzWzTCsm2FYN8OxdoZh3QzDuhmGdTMca2cYY6qbEAJVVVXw9PSEmVnHd4lxhuxnYmZmBi8vL6ljtGJnZyf5B9IUsW6GYd0Mw7oZjrUzDOtmGNbNMKyb4Vg7wxhL3TqbGWvBRT2IiIiIiIgkwoaMiIiIiIhIImzIHlNKpRJLliyBUqmUOopJYd0Mw7oZhnUzHGtnGNbNMKybYVg3w7F2hjHVunFRDyIiIiIiIolwhoyIiIiIiEgibMiIiIiIiIgkwoaMiIiIiIhIImzIiIiIiIiIJMKG7DFz5MgRjBkzBp6enpDJZNi+fbvUkYzeihUrMGjQINja2sLV1RXPPfcciouLpY5lEtLT0xESEqJ7AGNERAT27NkjdSyTs3LlSshkMiQnJ0sdxai99dZbkMlkel+9e/eWOpZJuHLlCn7/+9/D2dkZKpUKwcHBOHHihNSxjN6TTz7Z6jMnk8mgVquljmbUmpqasGjRIvj5+UGlUqF79+5Yvnw5uI5c56qqqpCcnAxfX1+oVCoMGTIEx48flzqW0ens510hBBYvXgwPDw+oVCrExMSgpKREmrBdwIbsMVNTU4PQ0FCkpaVJHcVk5ObmQq1W48svv4RGo0FDQwNGjBiBmpoaqaMZPS8vL6xcuRJfffUVTpw4geHDhyMuLg5nzpyROprJOH78ON5//32EhIRIHcUk9OnTB9euXdN9HT16VOpIRq+8vByRkZGwsLDAnj17cPbsWbz99ttwdHSUOprRO378uN7nTaPRAACef/55iZMZt1WrViE9PR0bNmxAUVERVq1ahdWrV2P9+vVSRzN606dPh0ajwebNm3H69GmMGDECMTExuHLlitTRjEpnP++uXr0a69atw3vvvYdjx47B2toasbGxuHv37i+ctIsEPbYAiOzsbKljmJwbN24IACI3N1fqKCbJ0dFRfPDBB1LHMAlVVVWiZ8+eQqPRiKefflrMnj1b6khGbcmSJSI0NFTqGCbn9ddfF7/5zW+kjvFYmD17tujevbvQarVSRzFqo0ePFomJiXrbxo0bJ+Lj4yVKZBpqa2uFXC4XOTk5etvDwsLEwoULJUpl/B78eVer1Qp3d3fx5z//WbetoqJCKJVKsXXrVgkSdo4zZEQPuH37NgDAyclJ4iSmpampCdu2bUNNTQ0iIiKkjmMS1Go1Ro8ejZiYGKmjmIySkhJ4enrC398f8fHxuHTpktSRjN7OnTsxcOBAPP/883B1dUX//v3xt7/9TepYJqe+vh4fffQREhMTIZPJpI5j1IYMGYIDBw7g3LlzAIBTp07h6NGjGDVqlMTJjFtjYyOamppgaWmpt12lUvFqgIdQWlqKsrIyvX9b7e3tMXjwYHzxxRcSJmufudQBiIyJVqtFcnIyIiMj0bdvX6njmITTp08jIiICd+/ehY2NDbKzsxEUFCR1LKO3bds2/Oc//+G9AQ9h8ODB2LRpEwICAnDt2jUsXboUUVFRKCwshK2trdTxjNa3336L9PR0vPrqq3jjjTdw/PhxJCUlQaFQICEhQep4JmP79u2oqKjA1KlTpY5i9ObPn4/Kykr07t0bcrkcTU1NSElJQXx8vNTRjJqtrS0iIiKwfPlyBAYGws3NDVu3bsUXX3yBHj16SB3PZJSVlQEA3Nzc9La7ubnp9hkbNmRE91Gr1SgsLORvoh5CQEAACgoKcPv2bXz66adISEhAbm4um7IOXL58GbNnz4ZGo2n1m1Bq3/2/XQ8JCcHgwYPh6+uLrKwsTJs2TcJkxk2r1WLgwIFITU0FAPTv3x+FhYV477332JA9hA8//BCjRo2Cp6en1FGMXlZWFrZs2YLMzEz06dMHBQUFSE5OhqenJz9zndi8eTMSExPxxBNPQC6XIywsDC+88AK++uorqaPRI8RLFonumTlzJnJycnDo0CF4eXlJHcdkKBQK9OjRAwMGDMCKFSsQGhqKd999V+pYRu2rr77CjRs3EBYWBnNzc5ibmyM3Nxfr1q2Dubk5mpqapI5oEhwcHNCrVy+cP39e6ihGzcPDo9UvSAIDA3m550P47rvvsH//fkyfPl3qKCZh3rx5mD9/Pn73u98hODgYU6ZMwZw5c7BixQqpoxm97t27Izc3F9XV1bh8+TLy8/PR0NAAf39/qaOZDHd3dwDA9evX9bZfv35dt8/YsCGjXz0hBGbOnIns7GwcPHgQfn5+UkcyaVqtFnV1dVLHMGrR0dE4ffo0CgoKdF8DBw5EfHw8CgoKIJfLpY5oEqqrq3HhwgV4eHhIHcWoRUZGtnqUx7lz5+Dr6ytRItOTkZEBV1dXjB49WuooJqG2thZmZvo/Ysrlcmi1WokSmR5ra2t4eHigvLwce/fuRVxcnNSRTIafnx/c3d1x4MAB3bbKykocO3bMaO9x5yWLj5nq6mq93xaXlpaioKAATk5O8PHxkTCZ8VKr1cjMzMSOHTtga2uru77Y3t4eKpVK4nTGbcGCBRg1ahR8fHxQVVWFzMxMHD58GHv37pU6mlGztbVtdY+itbU1nJ2dee9iB+bOnYsxY8bA19cXV69exZIlSyCXy/HCCy9IHc2ozZkzB0OGDEFqaiomTpyI/Px8bNy4ERs3bpQ6mknQarXIyMhAQkICzM35Y1NXjBkzBikpKfDx8UGfPn1w8uRJrFmzBomJiVJHM3p79+6FEAIBAQE4f/485s2bh969e+PFF1+UOppR6ezn3eTkZPzpT39Cz5494efnh0WLFsHT0xPPPfecdKE7IvUyj/TzOnTokADQ6ishIUHqaEarrXoBEBkZGVJHM3qJiYnC19dXKBQK0a1bNxEdHS327dsndSyTxGXvOzdp0iTh4eEhFAqFeOKJJ8SkSZPE+fPnpY5lEv7973+Lvn37CqVSKXr37i02btwodSSTsXfvXgFAFBcXSx3FZFRWVorZs2cLHx8fYWlpKfz9/cXChQtFXV2d1NGM3scffyz8/f2FQqEQ7u7uQq1Wi4qKCqljGZ3Oft7VarVi0aJFws3NTSiVShEdHW3U/w3LhOBj04mIiIiIiKTAe8iIiIiIiIgkwoaMiIiIiIhIImzIiIiIiIiIJMKGjIiIiIiISCJsyIiIiIiIiCTChoyIiIiIiEgibMiIiOhnk52djaysLKljEBERmQw2ZERE9LPIz89HcnIywsPDpY7ykx0+fBgymQwVFRWP/L2GDh2K5OTkR/4+v5SbN2/C1dUVFy9e7PIxZ8+ehZeXF2pqah5dMCIiI8WGjIiIWpk6dSpkMhlWrlypt3379u2QyWStxt++fRvTp09HdnY2fHx8fqmYRq++vh6rV69GaGgorKys4OLigsjISGRkZKChoeGRvKdMJsP27dsfybm7IiUlBXFxcXjyyScBABcvXoRMJkNBQYFuTFVVFYYNG4agoCB8//33CAoKQnh4ONasWSNNaCIiCbEhIyKiNllaWmLVqlUoLy/vdKy9vT2+/vprhIWF/QLJ2lZfXy/Ze7elvr4esbGxWLlyJV566SV8/vnnyM/Ph1qtxvr163HmzBmpI3bIkIaxtrYWH374IaZNm9bumB9++AHDhg1DTU0N8vLy4OXlBQB48cUXkZ6ejsbGRoMzExGZIjZkRETUppiYGLi7u2PFihXtjnnrrbfQr18/vW3vvPOObnYEaJ5te+6555Camgo3Nzc4ODhg2bJlaGxsxLx58+Dk5AQvLy9kZGTonefy5cuYOHEiHBwc4OTkhLi4OL3L4FrOm5KSAk9PTwQEBAAATp8+jeHDh0OlUsHZ2RkvvfQSqqurO/xed+/ejV69ekGlUmHYsGFtXm539OhRREVFQaVSwdvbG0lJSR1eYvfOO+/gyJEjOHDgANRqNfr16wd/f39MnjwZx44dQ8+ePds8rq0ZLgcHB2zatAlAc6M3c+ZMeHh4wNLSEr6+vrq/o5a6jx07FjKZTO/vYceOHQgLC4OlpSX8/f2xdOlSveZHJpMhPT0dzz77LKytrZGSkoLy8nLEx8ejW7duUKlU6NmzZ6u/pwfrqFQq271s9fLly4iKioK9vT0OHjwIZ2dn3b5nnnkGt27dQm5ubrvnJyJ6HLEhIyKiNsnlcqSmpmL9+vX4/vvvf9K5Dh48iKtXr+LIkSNYs2YNlixZgt/+9rdwdHTEsWPHMGPGDLz88su692loaEBsbCxsbW2Rl5eHzz77DDY2Nhg5cqTeTNiBAwdQXFwMjUaDnJwc1NTUIDY2Fo6Ojjh+/Dg++eQT7N+/HzNnzmw32+XLlzFu3DiMGTMGBQUFmD59OubPn6835sKFCxg5ciTGjx+Pr7/+Gh9//DGOHj3a4Xm3bNmCmJgY9O/fv9U+CwsLWFtbP2wZAQDr1q3Dzp07kZWVheLiYmzZskXXeB0/fhwAkJGRgWvXrule5+Xl4Q9/+ANmz56Ns2fP4v3338emTZuQkpKid+633noLY8eOxenTp5GYmIhFixbh7Nmz2LNnD4qKipCeng4XF5d2s+Xl5WHAgAFt7isuLkZkZCSCgoKwe/du2NjY6O1XKBTo168f8vLyDKoLEZHJEkRERA9ISEgQcXFxQgghwsPDRWJiohBCiOzsbHH/Px1LliwRoaGheseuXbtW+Pr66p3L19dXNDU16bYFBASIqKgo3evGxkZhbW0ttm7dKoQQYvPmzSIgIEBotVrdmLq6OqFSqcTevXt153VzcxN1dXW6MRs3bhSOjo6iurpat23Xrl3CzMxMlJWVtfm9LliwQAQFBelte/311wUAUV5eLoQQYtq0aeKll17SG5OXlyfMzMzEnTt32jyvSqUSSUlJbe6739NPPy1mz56tew1AZGdn642xt7cXGRkZQgghZs2aJYYPH65Xm/u1dXx0dLRITU3V27Z582bh4eGhd1xycrLemDFjxogXX3yx0++hRVxcnO6z0qK0tFQAEAqFQgwbNkw0Nja2e/zYsWPF1KlTu/x+RESPA86QERFRh1atWoW///3vKCoqMvgcffr0gZnZj//kuLm5ITg4WPdaLpfD2dkZN27cAACcOnUK58+fh62tLWxsbGBjYwMnJyfcvXsXFy5c0B0XHBwMhUKhe11UVITQ0FC92afIyEhotVoUFxe3ma2oqAiDBw/W2xYREaH3+tSpU9i0aZMui42NDWJjY6HValFaWtrmeYUQnZXFIFOnTkVBQQECAgKQlJSEffv2dXrMqVOnsGzZMr38f/zjH3Ht2jXU1tbqxg0cOFDvuFdeeQXbtm1Dv3798Nprr+Hzzz/v8H3u3LkDS0vLNvc9++yzyMvLw7/+9a92j1epVHp5iIh+DcylDkBERMbtqaeeQmxsLBYsWICpU6fq7TMzM2vVeLS1GISFhYXea5lM1uY2rVYLAKiursaAAQOwZcuWVufq1q2b7v8betnfw6qursbLL7+MpKSkVvvaW1WyV69e+Oabbx76vWQyWYc1DQsLQ2lpKfbs2YP9+/dj4sSJiImJwaefftph/qVLl2LcuHGt9t3fQD1Yz1GjRuG7777D7t27odFoEB0dDbVajb/85S9tvo+Li0u7i8AsXLgQISEhmDx5MoQQmDhxYqsxt27dQvfu3dv9PoiIHkdsyIiIqFMrV65Ev379dAtntOjWrRvKysoghNAth3//8uaGCgsLw8cffwxXV1fY2dl1+bjAwEBs2rQJNTU1uubis88+g5mZWavs9x+zc+dOvW1ffvllqzxnz55Fjx49upxl8uTJeOONN3Dy5MlW95E1NDSgvr6+zYayW7duuHbtmu51SUlJq1kjOzs7TJo0CZMmTcKECRMwcuRI3Lp1C05OTrCwsEBTU1Or/MXFxQ+V//48CQkJSEhIQFRUFObNm9duQ9a/f3989NFH7Z5r0aJFMDMzQ3x8PIQQmDRpkt7+wsJCTJgw4aEzEhGZMl6ySEREnQoODkZ8fDzWrVunt33o0KH44YcfsHr1aly4cAFpaWnYs2fPT36/+Ph4uLi4IC4uDnl5eSgtLcXhw4eRlJTU4QIj8fHxsLS0REJCAgoLC3Ho0CHMmjULU6ZMgZubW5vHzJgxAyUlJZg3bx6Ki4uRmZmpW9Gwxeuvv47PP/8cM2fOREFBAUpKSrBjx44OF/VITk5GZGQkoqOjkZaWhlOnTuHbb79FVlYWwsPDUVJS0uZxw4cPx4YNG3Dy5EmcOHECM2bM0JtNXLNmDbZu3YpvvvkG586dwyeffAJ3d3c4ODgAaF5p8cCBAygrK9PNVi1evBj/+Mc/sHTpUpw5cwZFRUXYtm0b3nzzzXbztxy3Y8cOnD9/HmfOnEFOTg4CAwPbHR8bG4szZ850+KiEhQsXYvny5YiPj8fWrVt12y9evIgrV64gJiamw0xERI8bNmRERNQly5Yt011S2CIwMBB//etfkZaWhtDQUOTn52Pu3Lk/+b2srKxw5MgR+Pj4YNy4cQgMDMS0adNw9+7dDmfMrKyssHfvXty6dQuDBg3ChAkTEB0djQ0bNrR7jI+PD/75z39i+/btCA0NxXvvvYfU1FS9MSEhIcjNzcW5c+cQFRWF/v37Y/HixfD09Gz3vEqlEhqNBq+99href/99hIeHY9CgQVi3bh2SkpLQt2/fNo97++234e3tjaioKEyePBlz586FlZWVbr+trS1Wr16NgQMHYtCgQbh48SJ2796tu0fv7bffhkajgbe3t25mLjY2Fjk5Odi3bx8GDRqE8PBwrF27Fr6+vu3mB5pXPlywYAFCQkLw1FNPQS6XY9u2be2ODw4ORlhYGLKysjo87/z585GamoopU6YgMzMTALB161aMGDGi00xERI8bmXhUdx0TERHRr86uXbswb948FBYW6i3k0pH6+nr07NkTmZmZiIyMfMQJiYiMC+8hIyIiop/N6NGjUVJSgitXrsDb27tLx1y6dAlvvPEGmzEi+lXiDBkREREREZFEeA8ZERERERGRRNiQERERERERSYQNGRERERERkUTYkBEREREREUmEDRkREREREZFE2JARERERERFJhA0ZERERERGRRNiQERERERERSYQNGRERERERkUTYkBEREREREUnk/wF3zSugKO2HvQAAAABJRU5ErkJggg=="
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "execution_count": 130
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T21:31:47.398624Z",
     "start_time": "2025-08-06T21:31:47.355204Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Defining the ideak K as 4\n",
    "ideal_k = 4\n",
    "\n",
    "#  Instantiate and train the final model\n",
    "kmeans = KMeans(n_clusters=ideal_k, init='k-means++', n_init=10, random_state=0)\n",
    "clusters = kmeans.fit_predict(rfm_scaled)\n",
    "\n",
    "# Adding the cluster column to the original RFM dataset\n",
    "rfm_df['Cluster'] = clusters\n",
    "rfm_df.head()"
   ],
   "id": "7c7eeb999e57e4b",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "            Recency  Frequency  Monetary  Cluster\n",
       "CustomerID                                       \n",
       "12346.0         326         12  77556.46        0\n",
       "12347.0           2          8   5633.32        0\n",
       "12348.0          75          5   2019.40        0\n",
       "12349.0          19          4   4428.69        0\n",
       "12350.0         310          1    334.40        1"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Recency</th>\n",
       "      <th>Frequency</th>\n",
       "      <th>Monetary</th>\n",
       "      <th>Cluster</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>CustomerID</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>12346.0</th>\n",
       "      <td>326</td>\n",
       "      <td>12</td>\n",
       "      <td>77556.46</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12347.0</th>\n",
       "      <td>2</td>\n",
       "      <td>8</td>\n",
       "      <td>5633.32</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12348.0</th>\n",
       "      <td>75</td>\n",
       "      <td>5</td>\n",
       "      <td>2019.40</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12349.0</th>\n",
       "      <td>19</td>\n",
       "      <td>4</td>\n",
       "      <td>4428.69</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12350.0</th>\n",
       "      <td>310</td>\n",
       "      <td>1</td>\n",
       "      <td>334.40</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 131,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 131
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T21:35:33.757471Z",
     "start_time": "2025-08-06T21:35:33.741795Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Analyze the centroids (means) of each cluster\n",
    "\n",
    "cluster_analysis = rfm_df.groupby('Cluster').agg({\n",
    "    'Recency': 'mean',\n",
    "    'Frequency': 'mean',\n",
    "    'Monetary': 'mean'\n",
    "}).round(2)\n",
    "cluster_analysis"
   ],
   "id": "99306e73a1098cda",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "         Recency  Frequency   Monetary\n",
       "Cluster                               \n",
       "0          66.99       7.31    3008.62\n",
       "1         463.23       2.21     764.48\n",
       "2           3.50     212.75  436835.79\n",
       "3          25.94     103.74   83086.08"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Recency</th>\n",
       "      <th>Frequency</th>\n",
       "      <th>Monetary</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Cluster</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>66.99</td>\n",
       "      <td>7.31</td>\n",
       "      <td>3008.62</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>463.23</td>\n",
       "      <td>2.21</td>\n",
       "      <td>764.48</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>3.50</td>\n",
       "      <td>212.75</td>\n",
       "      <td>436835.79</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>25.94</td>\n",
       "      <td>103.74</td>\n",
       "      <td>83086.08</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 132,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 132
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### Saving the model for web application",
   "id": "2a8d0fa94cb875bf"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T21:40:26.409832Z",
     "start_time": "2025-08-06T21:40:26.407557Z"
    }
   },
   "cell_type": "code",
   "source": "import joblib",
   "id": "dcbbb5c80a359aab",
   "outputs": [],
   "execution_count": 133
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-08-06T21:41:41.125184Z",
     "start_time": "2025-08-06T21:41:41.117345Z"
    }
   },
   "cell_type": "code",
   "source": "joblib.dump((scaler, kmeans), 'rfm_cluster_model.joblib')",
   "id": "e3981adf7453e184",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "['rfm_cluster_model.joblib']"
      ]
     },
     "execution_count": 134,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 134
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "",
   "id": "44b7a6dbc589728c"
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}